<div class="card bg-c-blue notification-card">
  <div class="card-block ">
      <div class="col-12 notify-cont">
        <p class="page-title">Create User</p>
      </div>
  </div>
</div>

<form [formGroup]="createUserManageForm" *ngIf="createLocalUser" (ngSubmit)="submitForm()"> 
  <div class="card">
  <div class="card-block">
    <div class="row m-b-20">
      <div class="card-block col-10">
        <label class="label-size">User Id:</label>
        <div class="input-group">
          <span class="input-group-prepend"><label class="input-group-text" style="background:#3498db"><img src="assets/icon/themify-icons/SVG/user.svg"></label></span>
          <input type="text" class="form-control tooltip-form placeholder" placeholder="Enter user login id" formControlName="userId">
          <div class="input-group placeholder">
            <span style="float:left;margin-top: 5px;" class="messages text-danger" 
                  *ngIf="(createUserManageForm.controls['userId'].hasError('required') 
                        || createUserManageForm.controls['userId'].hasError('whitespace')) 
                        && (createUserManageForm.controls['userId'].dirty 
                        || createUserManageForm.controls['userId'].touched)">Enter user login id</span>
          </div>
        </div>

        <label class="label-size">User Name:</label>
        <div class="input-group">
          <span class="input-group-prepend"><label class="input-group-text" style="background:#3498db"><img src="assets/icon/themify-icons/SVG/user.svg"></label></span>
          <input type="text" class="form-control tooltip-form placeholder" placeholder=" Enter user full name " formControlName="username">
          <div class="input-group placeholder">
            <span style="float:left;margin-top: 5px;" class="messages text-danger" 
                  *ngIf="(createUserManageForm.controls['username'].hasError('required') 
                        || createUserManageForm.controls['username'].hasError('whitespace')) 
                        && (createUserManageForm.controls['username'].dirty 
                        || createUserManageForm.controls['username'].touched)">Enter user full name</span>
          </div>
        </div>

        <label class="label-size">User Password:</label>
        <div class="input-group">
          <span class="input-group-prepend"><label class="input-group-text" style="background:#3498db"><img src="assets/icon/themify-icons/SVG/lock.svg"></label></span>
          <input type="password" class="form-control tooltip-form placeholder" placeholder=" Enter user password " formControlName="password">
          <div class="input-group placeholder">
            <span style="float:left;margin-top: 5px;" class="messages text-danger" 
                  *ngIf="(createUserManageForm.controls['password'].hasError('required') 
                        || createUserManageForm.controls['password'].hasError('whitespace')) 
                        && (createUserManageForm.controls['password'].dirty 
                        || createUserManageForm.controls['password'].touched)">Enter user password</span>
          </div>
        </div>
         
        <label class="label-size">Confirm User Password:</label>
        <div class="input-group">
          <span class="input-group-prepend"><label class="input-group-text" style="background:#3498db"><img src="assets/icon/themify-icons/SVG/lock.svg"></label></span>
          <input type="password" class="form-control tooltip-form placeholder" placeholder=" Enter confirm user password " formControlName="confirmPassword">
          <div class="input-group placeholder">
            <span style="float:left;margin-top: 5px;" class="messages text-danger" 
                  *ngIf="(createUserManageForm.controls['confirmPassword'].hasError('required') 
                        || createUserManageForm.controls['confirmPassword'].hasError('whitespace')) 
                        && (createUserManageForm.controls['confirmPassword'].dirty 
                        || createUserManageForm.controls['confirmPassword'].touched)">Enter confirm user password</span>
            <span style="float:left;margin-top: 5px;" class="messages text-danger" 
                  *ngIf="(createUserManageForm.controls['confirmPassword'].hasError('required') 
                        || createUserManageForm.controls['confirmPassword'].hasError('notSame')) 
                        && (createUserManageForm.controls['confirmPassword'].dirty 
                        || createUserManageForm.controls['confirmPassword'].touched)">Password and confirm password does not match</span>
          </div>
        </div> 
           
        <label class="label-size">User Role:</label>
        <div class="input-group">
          <span class="input-group-prepend"><label class="input-group-text" style="background:#3498db"><img src="assets/icon/themify-icons/SVG/user-role.svg"></label></span>
          <select class="form-control placeholder" formControlName="userRole"> 
            <option value="" disabled selected>Select a role</option>
            <option *ngFor="let item of roles" [value]="item">{{item}}</option>
          </select>
          <div class="input-group placeholder">
            <span style="float:left;margin-top: 5px;" class="messages text-danger" 
                  *ngIf="createUserManageForm.controls['userRole'].hasError('required') 
                        && (createUserManageForm.controls['userRole'].dirty 
                        || createUserManageForm.controls['userRole'].touched)">Select atleast one user role</span>
          </div>
        </div>
      </div>
   </div>
  </div>
  <div class="form-group row">
    <div class="col-sm-12" align="center">
      <div class="col-6"> 
        <button type="submit" class="btn btn-primary" style="width: 400px"> Add User </button>
      </div>
    </div>
  </div>

  </div>
</form>

<form [formGroup]="searchLdapUserForm" *ngIf="!createLdapUser"> 
  <div class="card">
    <div class="card-block">
      <div class="row m-b-20">
        <div class="card-block col-10">
          <label class="label-size">Search LDAP user id:</label>
          <div class="row">
            <div class="input-group col-sm-5" style="margin-top: 10px;">
              <span class="input-group-prepend"><label class="input-group-text" style="background:#3498db"><img src="assets/icon/themify-icons/SVG/user.svg"></label></span>
              <input type="text" class="form-control tooltip-form placeholder" placeholder=" Enter user id" formControlName="userId">
            </div>
           
            <div class="col-sm-4">
              <button type="submit" class="btn btn-primary" (click)="getCutomerConsent()" style="width: 100px;">Search</button>
            </div>
          </div>

          <label class="label-size">User Name:</label>
          <div class="input-group">
            <span class="input-group-prepend"><label class="input-group-text" style="background:#3498db"><img src="assets/icon/themify-icons/SVG/user.svg"></label></span>
            <input type="text" class="form-control tooltip-form placeholder" placeholder=" Enter user name " formControlName="username" readonly>
            <div class="input-group placeholder">
              <span style="float:left;margin-top: 5px;" class="messages text-danger" 
                    *ngIf="(searchLdapUserForm.controls['username'].hasError('required') 
                          || searchLdapUserForm.controls['username'].hasError('whitespace')) 
                          && (searchLdapUserForm.controls['username'].dirty 
                          || searchLdapUserForm.controls['username'].touched)">Enter Username</span>
            </div>
          </div>

          <label class="label-size">User Role:</label>
          <div class="input-group">
            <span class="input-group-prepend"><label class="input-group-text" style="background:#3498db"><img src="assets/icon/themify-icons/SVG/user-role.svg"></label></span>
            <select class="form-control placeholder" formControlName="userRole"> 
              <option value="" disabled selected>Select a role</option>
              <option *ngFor="let item of roles" [value]="item">{{item}}</option>
            </select>
            <div class="input-group placeholder">
              <span style="float:left;margin-top: 5px;" class="messages text-danger" 
                    *ngIf="searchLdapUserForm.controls['userRole'].hasError('required') 
                          && (searchLdapUserForm.controls['userRole'].dirty 
                          || searchLdapUserForm.controls['userRole'].touched)">Select atleast one user role</span>
            </div>
          </div>
        </div>
     </div>
    </div>
    <div class="form-group row">
      <div class="col-sm-12" align="center">
        <div class="col-6"> 
          <button type="submit" class="btn btn-primary" style="width: 400px"> Add User </button>
        </div>
      </div>
    </div>
    </div>
</form>
