<div class="card bg-c-blue notification-card">
  <div class="card-block ">
      <div class="col-12 notify-cont">
        <p class="page-title">Create Consent Templates</p>
      </div>
  </div>
</div>

<form [formGroup]="consentTemplateForm" (ngSubmit)="submitForm()"> 
  <div class="card">
  <div class="card-block">
    <div class="row m-b-20">
      <div class="col-sm-12 col-lg-12">
        <p class="sub-title" style="font-size: 16px;">Template Information</p>
        <div class="row">
          <div class="col-sm-6">
            <label class="label-size">Template Name</label>
            <div class="input-group">
              <span class="input-group-prepend"><label class="input-group-text" style="background:#3498db"><img src="assets/icon/themify-icons/SVG/template.svg"></label></span>
              <input type="text" class="form-control tooltip-form placeholder" placeholder=" Enter template name " formControlName="templateName">
              <div class="input-group placeholder">
                <span style="float:left;margin-top: 5px;" class="messages text-danger" 
                      *ngIf="(consentTemplateForm.controls['templateName'].hasError('required') 
                            || consentTemplateForm.controls['templateName'].hasError('whitespace')) 
                            && (consentTemplateForm.controls['templateName'].dirty 
                            || consentTemplateForm.controls['templateName'].touched)">Enter template name</span>
                <span style="float:left;margin-top: 5px;" class="messages text-danger" 
                      *ngIf="consentTemplateForm.controls['templateName'].hasError('templateNameLength') 
                            && (consentTemplateForm.controls['templateName'].dirty 
                            || consentTemplateForm.controls['templateName'].touched)">Template name accepts 32 characters only</span>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <label class="label-size">Template Description</label>
            <div class="input-group">
              <span class="input-group-prepend"><label class="input-group-text" style="background:#3498db"><img src="assets/icon/themify-icons/SVG/template.svg"></label></span>
              <input type="text" class="form-control tooltip-form placeholder" placeholder=" Enter template description " formControlName="templateDescription">
              <div class="input-group placeholder">
                <span style="float:left;margin-top: 5px;" class="messages text-danger" 
                      *ngIf="(consentTemplateForm.controls['templateDescription'].hasError('required') 
                            || consentTemplateForm.controls['templateDescription'].hasError('whitespace')) 
                            && (consentTemplateForm.controls['templateDescription'].dirty 
                            || consentTemplateForm.controls['templateDescription'].touched)">Enter template description</span>
                <span style="float:left;margin-top: 5px;" class="messages text-danger" 
                      *ngIf="consentTemplateForm.controls['templateDescription'].hasError('templateDescriptionLength') 
                            && (consentTemplateForm.controls['templateDescription'].dirty 
                            || consentTemplateForm.controls['templateDescription'].touched)">Template name accepts 128 characters only</span>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-12 col-lg-12">
        <p class="sub-title" style="font-size: 16px;">Consent Details</p>
        <div class="row">
          <div class="col-sm-6">
            <label class="label-size">Purpose of Consent</label>
            <div class="input-group">
              <span class="input-group-prepend"><label class="input-group-text" style="background:#3498db"><img src="assets/icon/themify-icons/SVG/pupose.svg"></label></span>
              <select class="form-control placeholder" formControlName="consentPurpose"> 
                <option value="" disabled selected>Select Consent Purpose</option>
                <option *ngFor="let purpose of purposeList" [value]="purpose">{{purpose}}</option>
              </select>
              <div class="input-group placeholder">
                <span style="float:left;margin-top: 5px;" class="messages text-danger" 
                      *ngIf="consentTemplateForm.controls['consentPurpose'].hasError('required') 
                            && (consentTemplateForm.controls['consentPurpose'].dirty 
                            || consentTemplateForm.controls['consentPurpose'].touched)">Select atleast one consent purpose</span>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <label class="label-size">Consent Mode</label>
            <div class="input-group">
                <span class="input-group-prepend"><label class="input-group-text" style="background:#3498db"><img src="assets/icon/themify-icons/SVG/consent.svg"></label></span>
                <select class="form-control placeholder" formControlName="consentMode"> 
                    <option value="" disabled selected>Select Consent Mode</option>
                    <option *ngFor="let item of consentModes" [value]="item">{{item}}</option>
                </select>
                <div class="input-group placeholder">
                  <span style="float:left;margin-top: 5px;" class="messages text-danger" 
                        *ngIf="consentTemplateForm.controls['consentMode'].hasError('required') 
                              && (consentTemplateForm.controls['consentMode'].dirty 
                              || consentTemplateForm.controls['consentMode'].touched)">Select atleast one consent mode</span>
                </div>
            </div> 
          </div>
        </div>
      </div>

      <div class="col-sm-12 col-lg-12">
        <div class="row">
          <div class="col-sm-6">
            <p class="sub-title" style="font-size: 16px;">Financial Information to be fetched</p>
            <div class="input-group">
                <span class="input-group-prepend"><label class="input-group-text" style="background:#3498db"><img src="assets/icon/themify-icons/SVG/consent.svg"></label></span>
                <ng-select class="form-control placeholder" style="height: 45px" 
                          formControlName="fiTypeList"
                          placeholder="Select FIType" 
                          [options]="selectFiTypes" 
                          [multiple]="true"  
                          (selected)="onSelected($event)"
                          (deselected)="onDeselected($event)">
                          <ng-template #optionTemplate let-option="option">
                              {{option?.label}}
                          </ng-template>
                </ng-select>
                <div class="input-group placeholder">
                  <span style="float:left;margin-top: 5px;" class="messages text-danger" 
                        *ngIf="consentTemplateForm.controls['fiTypeList'].hasError('required') 
                              && (consentTemplateForm.controls['fiTypeList'].dirty 
                              || consentTemplateForm.controls['fiTypeList'].touched)">Select atleast one fitype</span>
                </div>
            </div>
          </div>
          
          <div class="col-sm-6">
            <p class="sub-title" style="font-size: 16px;">Account Information to be fetched</p>
            <div class="form-inline">
              <div *ngFor="let item of consentTypesList " class="input-group label-size">
                  <input type="checkbox"
                         id="checkBoxConsentType"
                         formControlName="checkBoxConsentType"
                         (change)="onCheckboxChange(item,$event)"
                         [checked]="isSelected(item)"/> 
                  <label style="padding-left: 3px;padding-right: 10px;">
                    {{item}}
                  </label>
              </div>
            </div>
            <div class="input-group placeholder">
              <span style="float:left;margin-top: 5px;" class="messages text-danger" 
                    *ngIf="consentTemplateForm.controls['checkBoxConsentType'].hasError('required') 
                    && (consentTemplateForm.controls['checkBoxConsentType'].dirty 
                    || consentTemplateForm.controls['checkBoxConsentType'].touched)">Select atleast one consentType</span>
            </div>
          </div>
         </div>
       </div>
  
       <div class="col-sm-12 col-lg-12">
          <p class="sub-title" style="font-size: 16px;">Frequency of consent use</p>
          <div class="row">
            <div class="col-sm-6">
              <div class="input-group label-size">
                <div class="checkboxes" *ngFor="let item of fetchTypes">
                    <input type="radio" formControlName="fetchType" name="fetchType" value="{{item}}" 
                           [(ngModel)]="selectedValidity" (change)="onvalidityChange(item)"/> 
                    <label style="margin-right: 8px;">{{item}}</label>
                </div>
              </div>
              <div class="input-group placeholder">
                  <span style="float:left;margin-top: 5px;" class="messages text-danger" 
                        *ngIf="consentTemplateForm.controls['fetchType'].hasError('required') 
                              && (consentTemplateForm.controls['fetchType'].dirty 
                              || consentTemplateForm.controls['fetchType'].touched)">Select atleast one fetchType</span>
              </div>
            </div>
          </div>
       </div>
       
      <div class="row col-sm-12 col-lg-12">
            <div class="input-group"  *ngIf=!periodic>
                <div class="input-group">
                  <div class="row  form-inline">
                    <label class="label-size" style="margin-left: 35px;margin-right: 10px;">Data Requests can be done:</label>
                    <input  class="label-size form-control tooltip-form placeholder" style="width: 50px;margin-right: 10px;" 
                            type="text" formControlName="periodicFrequencyValue" maxlength="3">
                    <label class="label-size" style="margin-right: 10px;">time(s) a</label>
                    <select class="form-control placeholder" formControlName="periodicFrequencyUnit" style="width: 100px;height: 36px;"> 
                        <option *ngFor="let item of frequencies" [value]="item">{{item}}</option>
                    </select> 
                  </div>
                </div>
            </div>
      </div>
      
      <div class="col-sm-12 col-lg-12">
        <div class="row">
          <div class="col-sm-6">
            <p class="sub-title" style="font-size: 16px;">Consent Start</p>
            <div class="row form-inline">
                <label class="label-size" style="margin-left: 15px;margin-right: 10px;">Consent will start after</label>
                <input class="label-size form-control tooltip-form placeholder" style="width: 50px;margin-right: 10px;" 
                       type="text" formControlName="consentStartValue" [(ngModel)]="defaultConsentStartValue" maxlength="3">
                <label class="label-size">day(s)</label>
            </div>
            <label class="label-size">(Value of '0' will be taken as current date for the consent request)</label>
            <div class="input-group placeholder">
              <span style="float:left;margin-top: 5px;" class="messages text-danger" 
                    *ngIf="consentTemplateForm.controls['consentStartValue'].hasError('required') 
                          && (consentTemplateForm.controls['consentStartValue'].dirty 
                          || consentTemplateForm.controls['consentStartValue'].touched)">Enter consent start value</span>
              <span style="float:left;margin-top: 5px;" class="messages text-danger" 
                    *ngIf="(consentTemplateForm.controls['consentStartValue'].hasError('pattern') 
                          || consentTemplateForm.controls['consentStartValue'].hasError('pattern'))
                          && (consentTemplateForm.controls['consentStartValue'].dirty 
                          || consentTemplateForm.controls['consentStartValue'].touched)">Please enter valid digit</span>
            </div>
          </div>

          <div class="col-sm-6">
            <p class="sub-title" style="font-size: 16px;">Consent Expiry</p>
            <div class="row form-inline">
              <label class="label-size" style="margin-left: 18px;margin-right: 10px;">Consent will expire after:</label>
                <input class="label-size form-control tooltip-form placeholder" style="width: 50px;margin-right: 10px;" 
                       type="text" formControlName="consentExpiryValue" maxlength="3">
                <select class="form-control placeholder" formControlName="consentExpiryUnit" style="width: 100px;height: 36px;">
                  <option *ngFor="let item of consentExpiryUnits" [value]="item">{{item}}</option>
                </select>
            </div>
            <div class="input-group placeholder">
                <span style="float:left;margin-top: 5px;" class="messages text-danger" 
                      *ngIf="consentTemplateForm.controls['consentExpiryValue'].hasError('required') 
                            && (consentTemplateForm.controls['consentExpiryValue'].dirty 
                            || consentTemplateForm.controls['consentExpiryValue'].touched)">Enter consent expiry value</span>
                <span style="float:left;" class="messages text-danger" 
                      *ngIf="consentTemplateForm.controls['consentExpiryValue'].hasError('pattern') 
                            && (consentTemplateForm.controls['consentExpiryValue'].dirty
                            || consentTemplateForm.controls['consentExpiryValue'].touched)">Please enter valid digit</span>
                <div class="input-group placeholder">
                  <span style="float:left;margin-top: 5px;" class="messages text-danger" 
                        *ngIf="consentTemplateForm.controls['consentExpiryUnit'].hasError('required') 
                              && (consentTemplateForm.controls['consentExpiryUnit'].dirty 
                              || consentTemplateForm.controls['consentExpiryUnit'].touched)">Select atleast one consent expiry unit</span>
                </div>
            </div>
          </div>
      </div>
      </div>

      <div class="col-sm-12 col-lg-12" style="margin-top: 20px;">
        <div class="row">
          <div class="col-sm-6">
            <p class="sub-title" style="font-size: 16px;">DataLife</p>
            <div class="row form-inline">
              <label class="label-size" style="margin-left: 15px;margin-right: 10px;">How long will data be stored:</label>
              <input class="label-size form-control placeholder" style="width: 50px;margin-right: 10px;"
                    type="text" formControlName="dataLifeValue" maxlength="3">
              <select class="form-control placeholder" formControlName="dataLifeUnit" style="width: 100px;height: 36px;"> 
                <option *ngFor="let item of dataLifeUnitList" [value]="item">{{item}}</option>
              </select>
            </div>     
            <div class="input-group placeholder">
                <span style="float:left;margin-top: 5px;" class="messages text-danger" 
                      *ngIf="consentTemplateForm.controls['dataLifeValue'].hasError('required') 
                            && (consentTemplateForm.controls['dataLifeValue'].dirty 
                            || consentTemplateForm.controls['dataLifeValue'].touched)">Enter data life value</span>
                <span style="float:left;" class="messages text-danger" 
                      *ngIf="consentTemplateForm.controls['dataLifeValue'].hasError('pattern') 
                            && (consentTemplateForm.controls['dataLifeValue'].dirty
                            || consentTemplateForm.controls['dataLifeValue'].touched)">Please enter valid digit</span>
                <div class="input-group placeholder">
                    <span style="float:left;margin-top: 5px;" class="messages text-danger" 
                          *ngIf="consentTemplateForm.controls['dataLifeUnit'].hasError('required') 
                                && (consentTemplateForm.controls['dataLifeUnit'].dirty 
                                || consentTemplateForm.controls['dataLifeUnit'].touched)">Select atleast one datalife unit</span> 
                </div>
            </div>
          </div>
          <div class="col-sm-6">
            <p class="sub-title" style="font-size: 16px;">Financial Data range</p>
            <div class="row form-inline">
              <label class="label-size" style="margin-left: 18px;margin-right: 10px;">Fetch data from</label>
              <select class="form-control placeholder" 
                      formControlName="dataRangeStartMonths" 
                      style="width: 100px;margin-right: 10px;height: 36px;"> 
                <option *ngFor="let item of dateRangeUnits" [value]="item">{{item}}</option>
              </select>
              <label class="label-size" style="margin-right: 10px;"> month(s) till next</label>
              <input class="label-size form-control tooltip-form placeholder" style="width: 50px;margin-right: 10px;" type="text" formControlName="dataRangeEndMonths" maxlength="3">
              <label class="label-size"> month(s)</label>              
            </div>
            <div class="input-group placeholder">
              <span style="float:left;margin-top: 5px;" class="messages text-danger" 
                    *ngIf="consentTemplateForm.controls['dataRangeEndMonths'].hasError('required') 
                          && (consentTemplateForm.controls['dataRangeEndMonths'].dirty 
                          || consentTemplateForm.controls['dataRangeEndMonths'].touched)">Enter dataRange end months value</span>
              <span style="float:left;" class="messages text-danger" 
                    *ngIf="consentTemplateForm.controls['dataRangeEndMonths'].hasError('pattern') 
                          && (consentTemplateForm.controls['dataRangeEndMonths'].dirty
                          || consentTemplateForm.controls['dataRangeEndMonths'].touched)">Please enter valid digit</span>
              <div class="input-group placeholder">
                <span style="float:left;margin-top: 5px;" class="messages text-danger" 
                      *ngIf="consentTemplateForm.controls['dataRangeStartMonths'].hasError('required') 
                           && (consentTemplateForm.controls['dataRangeStartMonths'].dirty 
                           || consentTemplateForm.controls['dataRangeStartMonths'].touched)">Select atleast one dateRange unit</span> 
              </div>
            </div>
          </div>
        </div>
      </div>
   </div>
  </div>
  <div class="form-group row">
    <div class="col-sm-12" align="center">
      <div class="col-6"> 
        <button type="submit" class="btn btn-primary" style="width: 400px"> Create Consent Template </button>
      </div>
    </div>
  </div>

  </div>
</form>

