<div class="card bg-c-blue notification-card">
  <div class="card-block ">
      <div class="col-12 notify-cont">
        <p class="page-title">Channel</p>
      </div>
  </div>
</div>

<app-card [cardOptionBlock]="true" *ngIf="channelsList">
  <ngx-datatable 
      class="data-table"
      [columnMode]="'force'"
      [headerHeight]="50"
      [footerHeight]="45"
      [rowHeight]="'auto'"
      [limit]="10"
      [scrollbarH]="true"
      [rows]="channelList"
      [sorts]="[{prop: 'creationDate', dir: 'desc'}]">

      <ngx-datatable-column name="Channel Name"  [resizeable]="false" [sortable]="false" 
      [draggable]="false" [canAutoResize]="true">
          <ng-template let-column="column" ngx-datatable-header-template>
              <span class="datatable-header-cell-label draggable datatable-column">{{column.name}}</span>
          </ng-template> 
          <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
              <span class="datatable-row"> {{row.channelName}} </span>
          </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Profile Name" [resizeable]="false" [sortable]="false" 
      [draggable]="false" [canAutoResize]="true">
          <ng-template let-column="column" ngx-datatable-header-template>
              <span class="datatable-header-cell-label draggable datatable-column">{{column.name}}</span>
          </ng-template> 
          <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
              <span class="datatable-row"> {{row.profileName}} </span>
          </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Channel Enabled" [resizeable]="false" [sortable]="false" 
      [draggable]="false" [canAutoResize]="true">
          <ng-template let-column="column" ngx-datatable-header-template>
              <span class="datatable-header-cell-label draggable datatable-column">{{column.name}}</span>
          </ng-template> 
          <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
              <span class="datatable-row"> {{row.enabled}} </span>
          </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Created By" [resizeable]="false" [sortable]="false" 
      [draggable]="false" [canAutoResize]="true">
          <ng-template let-column="column" ngx-datatable-header-template>
              <span class="datatable-header-cell-label draggable datatable-column">{{column.name}}</span>
          </ng-template> 
          <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
              <span class="datatable-row"> {{row.createdBy}} </span>
          </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Created Date" [resizeable]="false" [sortable]="false" 
      [draggable]="false" [canAutoResize]="true">
          <ng-template let-column="column" ngx-datatable-header-template>
              <span class="datatable-header-cell-label draggable datatable-column">{{column.name}}</span>
          </ng-template> 
          <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
              <span class="datatable-row"> {{row.creationDate | date:'dd-MM-yyyy HH:mm:ss'}} </span>
          </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Active" [resizeable]="false" [sortable]="false" 
      [draggable]="false" [canAutoResize]="true">
          <ng-template let-column="column" ngx-datatable-header-template>
              <span class="datatable-header-cell-label draggable datatable-column">{{column.name}}</span>
          </ng-template> 
          <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
              <span class="datatable-row"> {{row.active}} </span>
          </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Actions" [resizeable]="false" [sortable]="false" 
        [draggable]="false" [canAutoResize]="true">
          <ng-template let-column="column" ngx-datatable-header-template>
            <span class="datatable-header-cell-label draggable datatable-column">{{column.name}}</span>
          </ng-template> 
          <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row"> 
            <a href="javascript:;" class="m-r-15 crm-action-view text-info" (click)="viewChannelRecord(row.channelId)"
              data-toggle="popover" data-trigger="hover" aria-hidden="true" data-placement="bottom" title="View Channel">
              <i class="fa fa-book" style="font-size: 16px;"></i></a>
            <a href="javascript:;" class="m-r-15 crm-action-edit text-primary" (click)="editChannelRecord(row.channelId)"
               data-toggle="popover" data-trigger="hover" aria-hidden="true" data-placement="bottom" title="Update Channel">
               <i class="fa fa-edit" style="font-size: 16px;"></i></a>
            <a href="javascript:;" class="crm-action-delete text-danger" (click)="openDeleteModal(row.channelId)"
              data-toggle="popover" data-trigger="hover" aria-hidden="true" data-placement="bottom" title="Delete Channel">
              <i class="fa fa-trash" style="font-size: 16px;"></i></a>
          </ng-template>
        </ngx-datatable-column>
</ngx-datatable>
</app-card>

<app-card [cardOptionBlock]="true" *ngIf="!viewChannel">
  <div class="col-lg-12 col-xl-12" style="margin-bottom: 20px;"><Span><h6>Channel Details<a href="javascript:;" class="crm-action-delete text-danger f-right" (click)="toggleCloseChannelRecord()"><i class="ti-close"></i></a></h6></Span></div>
  <div class="col-lg-12 col-xl-10">
    <div class="table-responsive">
      <table class="table m-0">
        <tbody>
          <tr>
            <th scope="row">Channel Name</th>
            <td>{{channelRowData.channelId}}</td>
          </tr>
          <tr>
            <th scope="row">Profile Id</th>
            <td>{{channelRowData.profileId}}</td>
          </tr>
          <tr>
            <th scope="row">Keep Alive Timeout</th>
            <td>{{channelRowData.keepAliveTimeout}}</td>
          </tr>
          <tr>
            <th scope="row">Keep Alive Url</th>
            <td>{{channelRowData.keepAliveUrl}}</td>
          </tr>
          <tr>
            <th scope="row">Profile Name</th>
            <td>{{channelRowData.profileName}}</td>
          </tr>
          <tr>
            <th scope="row">Enabled</th>
            <td>{{channelRowData.enabled}}</td>
          </tr>
          <tr>
            <th scope="row">Channel Created By</th>
            <td>{{channelRowData.createdBy}}</td>
          </tr>
          <tr>
            <th scope="row">Channel Creation Date</th>
            <td>{{channelRowData.creationDate | date:'dd-MM-yyyy HH:mm:ss' }}</td>
          </tr>
          <tr>
            <th scope="row">Channel Update By</th>
            <td>{{channelRowData.updatedBy}}</td>
          </tr>
          <tr>
            <th scope="row">Channel Updation Date</th>
            <td>{{channelRowData.updationDate | date:'dd-MM-yyyy HH:mm:ss' }}</td>
          </tr>
          <tr>
            <th scope="row">Approved By</th>
            <td>{{channelRowData.approvedBy}}</td>
          </tr>
          <tr>
            <th scope="row">Approved Date</th>
            <td>{{channelRowData.approvedDate | date:'dd-MM-yyyy HH:mm:ss' }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</app-card>

<app-card [cardOptionBlock]="true" *ngIf="!editChannel">
  <form [formGroup]="updateChannelForm"> 
    <div class="card-block col-10">
      <div class="row m-b-20">
        <div class="col-sm-12 col-lg-12">
          <p class="sub-title" style="font-size: 16px;">Channel Information</p>
              <label class="label-size">Channel Id</label>
              <div class="input-group">
                <span class="input-group-prepend">
                  <label class="input-group-text" style="background:#3498db">
                    <img src="assets/icon/themify-icons/SVG/channel.svg">
                  </label>
                </span>
                <input type="text" class="form-control tooltip-form placeholder" placeholder=" Enter Channel Id " 
                      formControlName="updateChannelId" readonly>
                <div class="input-group placeholder">
                  <span style="float:left;margin-top: 5px;" class="messages text-danger" 
                        *ngIf="(updateChannelForm.controls['updateChannelId'].hasError('required') 
                              || updateChannelForm.controls['updateChannelId'].hasError('whitespace')) 
                              && (updateChannelForm.controls['updateChannelId'].dirty 
                              || updateChannelForm.controls['updateChannelId'].touched)">
                      Enter channel id
                  </span>
                  <span style="float:left;margin-top: 5px;" class="messages text-danger" 
                        *ngIf="updateChannelForm.controls['updateChannelId'].hasError('updateChannelNameIdLength') 
                              && (updateChannelForm.controls['updateChannelId'].dirty 
                              || updateChannelForm.controls['updateChannelId'].touched)">
                      Channel Id accepts 32 characters only
                  </span>
                </div>
              </div>
            
              <label class="label-size">Channel Name</label>
              <div class="input-group">
                <span class="input-group-prepend"><label class="input-group-text" style="background:#3498db"><img
                      src="assets/icon/themify-icons/SVG/channel.svg"></label></span>
                <input type="text" class="form-control tooltip-form placeholder" placeholder=" Enter channel name "
                  formControlName="updateChannelName">
                <div class="input-group">
                  <span style="float:left;" class="messages text-danger placeholder"
                    *ngIf="updateChannelForm.controls['updateChannelName'].hasError('required') 
                        && (updateChannelForm.controls['updateChannelName'].dirty 
                        || updateChannelForm.controls['updateChannelName'].touched)">
                      Channel name is required
                  </span>
                  <span style="float:left;margin-top: 5px;" class="messages text-danger" 
                        *ngIf="updateChannelForm.controls['updateChannelName'].hasError('channelNameIdLength') 
                              && (updateChannelForm.controls['updateChannelName'].dirty 
                              || updateChannelForm.controls['updateChannelName'].touched)">
                      Channel Name accepts 32 characters only
                  </span>
                </div>
              </div>
            
              <label class="label-size">Profile Name</label>
              <div class="input-group">
                <span class="input-group-prepend"><label class="input-group-text" style="background:#3498db"><img
                      src="assets/icon/themify-icons/SVG/profile.svg"></label></span>
                <select class="form-control placeholder" formControlName="updateProfileName">
                  <option value="" disabled selected>Select Profile</option>
                  <option *ngFor="let item of profileNamesList" [value]="item">{{item}}</option>
                </select>
                <div class="input-group">
                  <span style="float:left;" class="messages text-danger placeholder"
                    *ngIf="updateChannelForm.controls['updateProfileName'].hasError('required') 
                          && (updateChannelForm.controls['updateProfileName'].dirty 
                          || updateChannelForm.controls['updateProfileName'].touched)">
                      Profile name is required</span>
                </div>
              </div>
            
            <div class="input-group label-size" style="margin-top: 10px;">
              <div class="form-inline">
                <input type="checkbox" 
                      formControlName="updateChannelEnabled" 
                      (change)="onChannelChange($event)"
                      />
                <label style="padding-left: 3px;padding-right: 10px;">
                    Channel Enabled
                </label>
              </div>
            </div>
            <div class="input-group">
              <span style="float:left;" class="messages text-danger placeholder"
                *ngIf="updateChannelForm.controls['updateChannelEnabled'].hasError('required') 
                      && (updateChannelForm.controls['updateChannelEnabled'].dirty 
                      || updateChannelForm.controls['updateChannelEnabled'].touched)">
                  Enabled channel required
              </span>
            </div>
     </div>
    </div>
    <div class="form-group row">
      <div class="col-sm-12" align="center">
        <div class="col-6" style="float: right;"> 
          <button type="submit" class="btn btn-primary" style="width: 200px;" (click)="submitForm()"> Update </button>
        </div>
        <div class="col-6" style="float: left;"> 
          <button class="btn btn-primary" (click)="toggleEditChannel()" style="width: 200px;"> Cancel </button>
        </div>
      </div>
    </div>
  </div>
  </form>
</app-card>