<div class="card bg-c-blue notification-card">
  <div class="card-block ">
      <div class="col-12 notify-cont">
        <p class="page-title">User Role To Approve</p>
      </div>
  </div>
</div>

<app-card [cardOptionBlock]="true" *ngIf="userList">
  <ngx-datatable 
      class="data-table"
      [columnMode]="'force'"
      [headerHeight]="50"
      [footerHeight]="45"
      [rowHeight]="'auto'"
      [limit]="10"
      [scrollbarH]="true"
      [rows]="userRolesList"
      [sorts]="[{prop: 'roleName', dir: 'aesc'}]">

      <ngx-datatable-column name="Role Name" [resizeable]="false" [sortable]="false" 
      [draggable]="false" [canAutoResize]="true">
          <ng-template let-column="column" ngx-datatable-header-template>
              <span class="datatable-header-cell-label draggable datatable-column">{{column.name}}</span>
          </ng-template> 
          <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
              <span class="datatable-row"> {{row.roleName}} </span>
          </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Role Description" [resizeable]="false" [sortable]="false" 
      [draggable]="false" [canAutoResize]="true">
          <ng-template let-column="column" ngx-datatable-header-template>
              <span class="datatable-header-cell-label draggable datatable-column">{{column.name}}</span>
          </ng-template> 
          <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
              <span class="datatable-row"> {{row.roleDescription}} </span>
          </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Created By" [resizeable]="false" [sortable]="false" 
      [draggable]="false" [canAutoResize]="true">
          <ng-template let-column="column" ngx-datatable-header-template>
              <span class="datatable-header-cell-label draggable datatable-column">{{column.name}}</span>
          </ng-template> 
          <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
              <span class="datatable-row"> {{row.createdBy}} </span>
          </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Created Date" [resizeable]="false" [sortable]="false" 
      [draggable]="false" [canAutoResize]="true">
          <ng-template let-column="column" ngx-datatable-header-template>
              <span class="datatable-header-cell-label draggable datatable-column">{{column.name}}</span>
          </ng-template> 
          <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
              <span class="datatable-row"> {{row.creationDate | date:'dd-MM-yyyy HH:mm:ssa'}} </span>
          </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Action" [resizeable]="false" [sortable]="false" 
      [draggable]="false" [canAutoResize]="true">
          <ng-template let-column="column" ngx-datatable-header-template>
              <span class="datatable-header-cell-label draggable datatable-column">{{column.name}}</span>
          </ng-template> 
          <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
              <span class="datatable-row"> {{row.action}} </span>
          </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="User Role Details" [resizeable]="false" [sortable]="false" 
        [draggable]="false" [canAutoResize]="true">
          <ng-template let-column="column" ngx-datatable-header-template>
            <span class="datatable-header-cell-label draggable datatable-column">{{column.name}}</span>
          </ng-template> 
          <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row"> 
            <a href="javascript:;" (click)="viewUserRoleRecord(row.roleName)" [style.color]="'#007bff'">
                View User Role
            </a>
          </ng-template>
        </ngx-datatable-column>
</ngx-datatable>
</app-card>

<app-card [cardOptionBlock]="true" *ngIf="!viewUpdatedUserRole">
  <div class="col-lg-12 col-xl-12" style="margin-bottom: 20px;"><Span><h6>User Role Details<a href="javascript:;" class="crm-action-delete text-danger f-right" (click)="toggleCloseUserRecord()"><i class="ti-close"></i></a></h6></Span></div>
  <div class="col-lg-12 col-xl-12">
    <div class="table-responsive">
      <table class="table m-0">
        <tbody>
          <tr>
            <th scope="row">Role Name</th>
            <td>{{updatedUserRole.roleName}}</td>
          </tr>
          <tr>
            <th scope="row">Role Description</th>
            <td>{{updatedUserRole.roleDescription}}</td>
          </tr>
          <tr>
            <th scope="row">Permission Groups</th>
            <td class="wrapword">
              <div *ngFor="let item of updatedUserRole.permissionGroups">
                <p class="label-size">{{item.permissionGroup}}<p>
                <p class="placeholder">{{item.groupApis.join(" , ")}}</p>
              </div>
            </td>
          </tr>
          <tr>
            <th scope="row">Action</th>
            <td>{{updatedUserRole.action}}</td>
          </tr>
          <tr>
            <th scope="row">Created By</th>
            <td>{{updatedUserRole.createdBy}}</td>
          </tr>
          <tr>
            <th scope="row">Creation Date</th>
            <td>{{updatedUserRole.creationDate | date:'dd-MM-yyyy HH:mm:ssa'}}</td>
          </tr>
          <tr>
            <th scope="row">Update By</th>
            <td>{{updatedUserRole.updatedBy}}</td>
          </tr>
          <tr>
            <th scope="row">Updation Date</th>
            <td>{{updatedUserRole.updationDate | date:'dd-MM-yyyy HH:mm:ssa'}}</td>
          </tr>
          <tr>
            <th scope="row">Approved By</th>
            <td>{{updatedUserRole.approvedBy}}</td>
          </tr>
          <tr>
            <th scope="row">Approved Date</th>
            <td>{{updatedUserRole.approvedDate | date:'dd-MM-yyyy HH:mm:ssa'}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="form-group row" style="margin-top: 20px;">
      <div class="col-sm-12" align="center">
        <div class="col-6" style="float: left;"> 
          <button type="button" class="btn btn-primary" (click)="getApproveModal(updatedUserRole)"  style="width: 200px;"> Approve </button>
        </div>
        <div class="col-6" style="float: right;"> 
          <button type="button" class="btn btn-primary" (click)="getRejectModal(updatedUserRole)" style="width: 200px;"> Reject </button>
       </div>
      </div>
    </div>
  </div>
</app-card>

<app-card [cardOptionBlock]="true" *ngIf="!viewUserRole">
  <div class="col-lg-12 col-xl-12" style="margin-bottom: 20px;"><Span><h6>User Role Details<a href="javascript:;" class="crm-action-delete text-danger f-right" (click)="toggleCloseUserRecord()"><i class="ti-close"></i></a></h6></Span></div>
  <div class="col-lg-12 col-xl-12">
    <div class="table-responsive">
      <table class="table m-0">
        <th scope="row"><h6>Parameters</h6></th>
        <th scope="row"><h6>Current Values</h6></th>
        <th scope="row"><h6>Updated Values</h6></th>
        <tbody>
          <tr>
            <th scope="row">Role Name</th>
            <td>{{userRole.roleName}}</td>
            <td></td>
          </tr>
          <tr>
            <th scope="row">Role Description</th>
            <td>{{userRole.roleDescription}}</td>
            <td>{{roleDescription}}</td>
          </tr>
          <tr>
            <th scope="row">Permission Group</th>
            <td class="wrapword">
              <div *ngFor="let item of userRole.permissionGroups">
                <p class="label-size">{{item.permissionGroup}}<p>
                <p class="placeholder">{{item.groupApis.join(" , ")}}</p>
              </div>
            </td>
            <td class="wrapword">
              <div *ngFor="let item of permissionGroups">
                <p class="label-size">{{item.permissionGroup}}<p>
                <p class="placeholder">{{item.groupApis.join(" , ")}}</p>
              </div>
            </td>
          </tr>
          <tr>
            <th scope="row">Action</th>
            <td>{{userRole.action}}</td>
            <td>{{action}}</td>
          </tr>
          <tr>
            <th scope="row">Created By</th>
            <td>{{userRole.createdBy}}</td>
            <td>{{createdBy}}</td>
          </tr>
          <tr>
            <th scope="row">Creation Date</th>
            <td>{{userRole.creationDate | date:'dd-MM-yyyy HH:mm:ssa'}}</td>
            <td>{{creationDate | date:'dd-MM-yyyy HH:mm:ssa'}}</td>
          </tr>
          <tr>
            <th scope="row">Update By</th>
            <td>{{userRole.updatedBy}}</td>
            <td>{{updatedBy}}</td>
          </tr>
          <tr>
            <th scope="row">Updation Date</th>
            <td>{{userRole.updationDate | date:'dd-MM-yyyy HH:mm:ssa'}}</td>
            <td>{{updationDate | date:'dd-MM-yyyy HH:mm:ssa'}}</td>
          </tr>
          <tr>
            <th scope="row">Approved By</th>
            <td>{{userRole.approvedBy}}</td>
            <td>{{approvedBy}}</td>
          </tr>
          <tr>
            <th scope="row">Approved Date</th>
            <td>{{userRole.approvedDate | date:'dd-MM-yyyy HH:mm:ssa'}}</td>
            <td>{{approvedDate | date:'dd-MM-yyyy HH:mm:ssa'}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="form-group row" style="margin-top: 20px;">
      <div class="col-sm-12" align="center">
        <div class="col-6" style="float: left;"> 
          <button type="button" class="btn btn-primary" (click)="getApproveModal(updatedUserRole)"  style="width: 200px;"> Approve </button>
        </div>
        <div class="col-6" style="float: right;"> 
          <button type="button" class="btn btn-primary" (click)="getRejectModal(updatedUserRole)" style="width: 200px;"> Reject </button>
       </div>
      </div>
    </div>
  </div>
</app-card>
