<div class="card bg-c-blue notification-card">
  <div class="card-block ">
      <div class="col-12 notify-cont">
        <p class="page-title">User Role</p>
      </div>
  </div>
</div>

<app-card [cardOptionBlock]="true" *ngIf="userRoleList">
  <ngx-datatable 
      class="data-table"
      [columnMode]="'force'"
      [headerHeight]="50"
      [footerHeight]="45"
      [rowHeight]="'auto'"
      [limit]="10"
      [scrollbarH]="true"
      [rows]="approvedUserRoleList"
      [sorts]="[{prop: 'creationDate', dir: 'desc'}]">

      <ngx-datatable-column name="Role Name" [resizeable]="false" [sortable]="false" 
      [draggable]="false" [canAutoResize]="true">
          <ng-template let-column="column" ngx-datatable-header-template>
              <span class="datatable-header-cell-label draggable datatable-column">{{column.name}}</span>
          </ng-template>      
          <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
              <span class="datatable-row"> {{row.roleName}} </span>
          </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Role Description" [resizeable]="false" [sortable]="false" 
      [draggable]="false" [canAutoResize]="true">
          <ng-template let-column="column" ngx-datatable-header-template>
              <span class="datatable-header-cell-label draggable datatable-column">{{column.name}}</span>
          </ng-template> 
          <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
              <span class="datatable-row"> {{row.roleDescription}} </span>
          </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Created By" [resizeable]="false" [sortable]="false" 
      [draggable]="false" [canAutoResize]="true">
          <ng-template let-column="column" ngx-datatable-header-template>
              <span class="datatable-header-cell-label draggable datatable-column">{{column.name}}</span>
          </ng-template> 
          <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
              <span class="datatable-row"> {{row.createdBy}} </span>
          </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Created Date" [resizeable]="false" [sortable]="false" 
      [draggable]="false" [canAutoResize]="true">
          <ng-template let-column="column" ngx-datatable-header-template>
              <span class="datatable-header-cell-label draggable datatable-column">{{column.name}}</span>
          </ng-template> 
          <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
              <span class="datatable-row"> {{row.creationDate | date:'dd-MM-yyyy HH:mm:ssa'}} </span>
          </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Active" [resizeable]="false" [sortable]="false" 
      [draggable]="false" [canAutoResize]="true">
          <ng-template let-column="column" ngx-datatable-header-template>
              <span class="datatable-header-cell-label draggable datatable-column">{{column.name}}</span>
          </ng-template> 
          <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
              <span class="datatable-row"> {{row.active}} </span>
          </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Actions" [resizeable]="false" [sortable]="false" 
        [draggable]="false" [canAutoResize]="true">
          <ng-template let-column="column" ngx-datatable-header-template>
            <span class="datatable-header-cell-label draggable datatable-column">{{column.name}}</span>
          </ng-template> 
          <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row"> 
            <a href="javascript:;" class="m-r-15 crm-action-view text-info" (click)="fetchApprovedUserRole(row.roleName)"
              data-toggle="popover" data-trigger="hover" aria-hidden="true" data-placement="bottom" title="View User Role">
              <i class="fa fa-book" style="font-size: 16px;"></i></a>
            <a href="javascript:;" class="m-r-15 crm-action-edit text-primary" (click)="editUserRoleRecord(row.roleName)"
               data-toggle="popover" data-trigger="hover" aria-hidden="true" data-placement="bottom" title="Update User Role">
               <i class="fa fa-edit" style="font-size: 16px;"></i></a>
            <a href="javascript:;" class="crm-action-delete text-danger" (click)="openDeleteModal(row.roleName)"
              data-toggle="popover" data-trigger="hover" aria-hidden="true" data-placement="bottom" title="Delete User Role">
              <i class="fa fa-trash" style="font-size: 16px;"></i></a>
          </ng-template>
        </ngx-datatable-column>
  </ngx-datatable>
</app-card>

<app-card [cardOptionBlock]="true" *ngIf="!viewUserRole">
  <div class="col-lg-12 col-xl-12" style="margin-bottom: 20px;"><Span><h6>User Role Details<a href="javascript:;" class="crm-action-delete text-danger f-right" (click)="toggleCloseUserRecord()"><i class="ti-close"></i></a></h6></Span></div>
  <div class="col-lg-12 col-xl-12">
    <div class="table-responsive">
      <table class="table m-0">
        <tbody>
          <tr>
            <th scope="row">Role Name</th>
            <td>{{approvedUserRole.roleName}}</td>
          </tr>
          <tr>
            <th scope="row">Role Description</th>
            <td>{{approvedUserRole.roleDescription}}</td>
          </tr>
          <tr>
            <th scope="row">Permission Groups</th>
            <td class="wrapword">
              <div *ngFor="let item of approvedUserRole.permissionGroups">
                <p class="label-size">{{item.permissionGroup}}<p>
                <p class="placeholder">{{item.groupApis.join(" , ")}}</p>
              </div>
            </td>
          </tr>
          <tr>
            <th scope="row">Created By</th>
            <td>{{approvedUserRole.createdBy}}</td>
          </tr>
          <tr>
            <th scope="row">Creation Date</th>
            <td>{{approvedUserRole.creationDate | date:'dd-MM-yyyy HH:mm:ssa'}}</td>
          </tr>
          <tr>
            <th scope="row">Update By</th>
            <td>{{approvedUserRole.updatedBy}}</td>
          </tr>
          <tr>
            <th scope="row">Updation Date</th>
            <td>{{approvedUserRole.updationDate | date:'dd-MM-yyyy HH:mm:ssa'}}</td>
          </tr>
          <tr>
            <th scope="row">Approved By</th>
            <td>{{approvedUserRole.approvedBy}}</td>
          </tr>
          <tr>
            <th scope="row">Approved Date</th>
            <td>{{approvedUserRole.approvedDate | date:'dd-MM-yyyy HH:mm:ssa'}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</app-card>

<app-card [cardOptionBlock]="true" *ngIf="!editUserRole">
  <form [formGroup]="updateUserRoleForm"> 
    <div class="card-block">
      <div class="row m-b-20">
        <div class="col-sm-12 col-lg-12">
          <p class="sub-title" style="font-size: 16px;">User Role Information</p>
          <label class="label-size">Role Name:</label>
          <div class="input-group">
            <span class="input-group-prepend"><label class="input-group-text" style="background:#3498db"><img src="assets/icon/themify-icons/SVG/user.svg"></label></span>
            <input type="text" class="form-control tooltip-form placeholder" placeholder="Enter Role Name" formControlName="updateRoleName" readonly>
            <div class="input-group placeholder">
              <span style="float:left;margin-top: 5px;" class="messages text-danger" 
                    *ngIf="(updateUserRoleForm.controls['updateRoleName'].hasError('required') 
                          || updateUserRoleForm.controls['updateRoleName'].hasError('whitespace')) 
                          && (updateUserRoleForm.controls['updateRoleName'].dirty 
                          || updateUserRoleForm.controls['updateRoleName'].touched)">Enter Role Name</span>
            </div>
          </div>
          <label class="label-size">Role Description:</label>
          <div class="input-group">
            <span class="input-group-prepend"><label class="input-group-text" style="background:#3498db"><img src="assets/icon/themify-icons/SVG/user.svg"></label></span>
            <input type="text" class="form-control tooltip-form placeholder" placeholder="Enter Role Description" formControlName="updateRoleDescription">
            <div class="input-group placeholder">
              <span style="float:left;margin-top: 5px;" class="messages text-danger" 
                    *ngIf="(updateUserRoleForm.controls['updateRoleDescription'].hasError('required') 
                          || updateUserRoleForm.controls['updateRoleDescription'].hasError('whitespace')) 
                          && (updateUserRoleForm.controls['updateRoleDescription'].dirty 
                          || updateUserRoleForm.controls['updateRoleDescription'].touched)">Enter Role Name</span>
            </div>
          </div>
          <label class="label-size">Role Permissions:</label>
          <div class="input-group">
            <table class="table table-bordered">
              <thead>
                <tr>
                    <th></th>
                    <th>Permission Group</th>
                    <th>Group APIs</th>
                </tr>
                </thead>
                  <tbody *ngFor="let item of permissionGroups">
                    <tr class="table-active">
                      <td>
                        <input type="checkbox"
                              formControlName="updateSelectPermission"
                              (change)="onCheckBoxChange(item.permissionGroup,$event)" 
                              [checked]="isSelected(item.permissionGroup)"/> 
                      </td>
                      <td>{{item.permissionGroup}}</td>
                      <td class="wrapword">{{item.groupApis.join(" , ")}}</td>
                    </tr>
                  </tbody>
            </table> 
          </div>
          <div class="input-group placeholder">
            <span style="float:left;margin-top: 5px;" class="messages text-danger" 
                  *ngIf="updateUserRoleForm.controls['updateSelectPermission'].hasError('required') 
                  && (updateUserRoleForm.controls['updateSelectPermission'].dirty 
                  || updateUserRoleForm.controls['updateSelectPermission'].touched)">Select atleast one role permission</span>
          </div>
        </div>
     </div>
    </div>
    <div class="form-group row">
      <div class="col-sm-12" align="center">
        <div class="col-6" style="float: right;"> 
          <button type="submit" class="btn btn-primary" style="width: 200px;" (click)="submitForm()"> Update </button>
        </div>
        <div class="col-6" style="float: left;"> 
          <button class="btn btn-primary" (click)="toggleUser()" style="width: 200px;"> Cancel </button>
        </div>
      </div>
    </div>
  </form>
</app-card> 

