<section class="login p-fixed d-flex text-center" style="background-color: #E8F2FE">
  <!-- Container-fluid starts -->
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <!-- Authentication card start -->
        <div class="login-card card-block auth-body mr-auto ml-auto">
          <form [formGroup]="loginForm" (ngSubmit)="submitForm()">
              <div class="text-center">
                  <img src={{imagePath}} alt="Finvu Connect Hub">
              </div>
                <div class="auth-box">
                  <div class="row m-b-20">
                    <div class="col-md-12">
                      <h3 class="text-left txt-primary">Sign In</h3>
                    </div>
                  </div>
                  <hr/>
                  <div class="input-group">
                    <input type="username" formControlName="username" class="form-control" placeholder="Your Username">
                    <span class="md-line"></span>
                    <div class="input-group placeholder">
                      <span style="float:left;font-size: 12px;" class="messages text-danger" *ngIf="loginForm.controls['username'].hasError('required') && (loginForm.controls['username'].dirty || loginForm.controls['username'].touched)">Username is required</span>
                      <span style="float:left;font-size: 12px;" class="messages text-danger" *ngIf="loginForm.controls['username'].hasError('pattern') && (loginForm.controls['username'].dirty || loginForm.controls['username'].touched)">Please enter valid username</span>
                    </div>
                  </div>
                  <div class="input-group">
                    <input type="password" formControlName="password" class="form-control" placeholder="Your Password">
                    <span class="md-line"></span>
                    <div class="input-group placeholder">
                      <span style="float:left;font-size: 12px;" class="messages text-danger" *ngIf="loginForm.controls['password'].hasError('required') && (loginForm.controls['password'].dirty || loginForm.controls['password'].touched)">Password is required</span>
                      <span style="float:left;font-size: 12px;" class="messages text-danger" *ngIf="loginForm.controls['password'].hasError('pattern') && (loginForm.controls['password'].dirty || loginForm.controls['password'].touched)">Please enter valid username</span>
                    </div>
                  </div>
                  <div class="row m-t-30">
                    <div class="col-md-12">
                      <button type="submit" class="btn btn-primary btn-md btn-block waves-effect text-center m-b-20" style="background:#13397F;">Sign in</button>
                      <a [routerLink]="['/forgot']" class="text-center text-inverse"> Forgot Password?</a>
                    </div>
                  </div>
                </div>
              </form>
            </div>
        <!-- Authentication card end -->
      </div>
      <!-- end of col-sm-12 -->
    </div>
    <!-- end of row -->
  </div>
  <!-- end of container-fluid -->
</section>
