<div class="card bg-c-blue notification-card">
  <div class="card-block ">
      <div class="col-12 notify-cont">
        <p class="page-title">Manage User</p>
      </div>
  </div>
</div>

<app-card [cardOptionBlock]="true" *ngIf="manageUserList">
  <ngx-datatable 
      class="data-table"
      [columnMode]="'force'"
      [headerHeight]="50"
      [footerHeight]="45"
      [rowHeight]="'auto'"
      [limit]="10"
      [scrollbarH]="true"
      [rows]="approvedUsersList"
      [sorts]="[{prop: 'userId', dir: 'aesc'}]">

      <ngx-datatable-column name="User Id" [resizeable]="false" [sortable]="false" 
      [draggable]="false" [canAutoResize]="true">
          <ng-template let-column="column" ngx-datatable-header-template>
              <span class="datatable-header-cell-label draggable datatable-column">{{column.name}}</span>
          </ng-template>      
          <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
              <span class="datatable-row"> {{row.userId}} </span>
          </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Username" [resizeable]="false" [sortable]="false" 
      [draggable]="false" [canAutoResize]="true">
          <ng-template let-column="column" ngx-datatable-header-template>
              <span class="datatable-header-cell-label draggable datatable-column">{{column.name}}</span>
          </ng-template> 
          <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
              <span class="datatable-row"> {{row.userName}} </span>
          </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Role" [resizeable]="false" [sortable]="false" 
      [draggable]="false" [canAutoResize]="true">
          <ng-template let-column="column" ngx-datatable-header-template>
              <span class="datatable-header-cell-label draggable datatable-column">{{column.name}}</span>
          </ng-template> 
          <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
              <span class="datatable-row"> {{row.userRole}} </span>
          </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Created By" [resizeable]="false" [sortable]="false" 
      [draggable]="false" [canAutoResize]="true">
          <ng-template let-column="column" ngx-datatable-header-template>
              <span class="datatable-header-cell-label draggable datatable-column">{{column.name}}</span>
          </ng-template> 
          <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
              <span class="datatable-row"> {{row.createdBy}} </span>
          </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Created Date" [resizeable]="false" [sortable]="false" 
      [draggable]="false" [canAutoResize]="true">
          <ng-template let-column="column" ngx-datatable-header-template>
              <span class="datatable-header-cell-label draggable datatable-column">{{column.name}}</span>
          </ng-template> 
          <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
              <span class="datatable-row"> {{row.creationDate | date:'dd-MM-yyyy HH:mm:ssa'}} </span>
          </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Active" [resizeable]="false" [sortable]="false" 
      [draggable]="false" [canAutoResize]="true">
          <ng-template let-column="column" ngx-datatable-header-template>
              <span class="datatable-header-cell-label draggable datatable-column">{{column.name}}</span>
          </ng-template> 
          <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
              <span class="datatable-row"> {{row.active}} </span>
          </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Actions" [resizeable]="false" [sortable]="false" 
        [draggable]="false" [canAutoResize]="true">
          <ng-template let-column="column" ngx-datatable-header-template>
            <span class="datatable-header-cell-label draggable datatable-column">{{column.name}}</span>
          </ng-template> 
          <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row"> 
            <a href="javascript:;" class="m-r-15 crm-action-view text-info" (click)="fetchApprovedUserDetails(row.userId)"
              data-toggle="popover" data-trigger="hover" aria-hidden="true" data-placement="bottom" title="View User">
              <i class="fa fa-book" style="font-size: 16px;"></i></a>
            <a href="javascript:;" class="m-r-15 crm-action-edit text-primary" (click)="editUserRecord(row.userId)"
               data-toggle="popover" data-trigger="hover" aria-hidden="true" data-placement="bottom" title="Update User">
               <i class="fa fa-edit" style="font-size: 16px;"></i></a>
            <a href="javascript:;" class="crm-action-delete text-danger" (click)="openDeleteModal(row.userId)"
              data-toggle="popover" data-trigger="hover" aria-hidden="true" data-placement="bottom" title="Delete User">
              <i class="fa fa-trash" style="font-size: 16px;"></i></a>
          </ng-template>
        </ngx-datatable-column>
</ngx-datatable>
</app-card>

<app-card [cardOptionBlock]="true" *ngIf="!viewManageUser">
  <div class="col-lg-12 col-xl-12" style="margin-bottom: 20px;"><Span><h6>Manage User Details<a href="javascript:;" class="crm-action-delete text-danger f-right" (click)="toggleCloseUserRecord()"><i class="ti-close"></i></a></h6></Span></div>
  <div class="col-lg-12 col-xl-12">
    <div class="table-responsive">
      <table class="table m-0">
        <tbody>
          <tr>
            <th scope="row">User Id</th>
            <td>{{approvedUserDetails.userId}}</td>
          </tr>
          <tr>
            <th scope="row">Username</th>
            <td>{{approvedUserDetails.userName}}</td>
          </tr>
          <tr>
            <th scope="row">Role</th>
            <td>{{approvedUserDetails.userRole}}</td>
          </tr>
          <tr>
            <th scope="row">Active</th>
            <td>{{approvedUserDetails.active}}</td>
          </tr>
          <tr>
            <th scope="row">Created By</th>
            <td>{{approvedUserDetails.createdBy}}</td>
          </tr>
          <tr>
            <th scope="row">Creation Date</th>
            <td>{{approvedUserDetails.creationDate | date:'dd-MM-yyyy HH:mm:ssa'}}</td>
          </tr>
          <tr>
            <th scope="row">Update By</th>
            <td>{{approvedUserDetails.updatedBy}}</td>
          </tr>
          <tr>
            <th scope="row">Updation Date</th>
            <td>{{approvedUserDetails.updationDate | date:'dd-MM-yyyy HH:mm:ssa'}}</td>
          </tr>
          <tr>
            <th scope="row">Approved By</th>
            <td>{{approvedUserDetails.approvedBy}}</td>
          </tr>
          <tr>
            <th scope="row">Approved Date</th>
            <td>{{approvedUserDetails.approvedDate | date:'dd-MM-yyyy HH:mm:ssa'}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</app-card>

<app-card [cardOptionBlock]="true" *ngIf="!editManageUser">
  <form [formGroup]="updateManageUserForm"> 
    <div class="card-block">
      <div class="row m-b-20">
        <div class="col-sm-12 col-lg-12">
          <p class="sub-title" style="font-size: 16px;">User Information</p>
            <label class="label-size">User Id:</label>
            <div class="input-group">
              <span class="input-group-prepend"><label class="input-group-text" style="background:#3498db"><img src="assets/icon/themify-icons/SVG/user.svg"></label></span>
              <input type="text" class="form-control tooltip-form placeholder" placeholder="Enter User Id" formControlName="updateUserId" readonly>
              <div class="input-group placeholder">
                <span style="float:left;margin-top: 5px;" class="messages text-danger" 
                      *ngIf="(updateManageUserForm.controls['updateUserId'].hasError('required') 
                            || updateManageUserForm.controls['updateUserId'].hasError('whitespace')) 
                            && (updateManageUserForm.controls['updateUserId'].dirty 
                            || updateManageUserForm.controls['updateUserId'].touched)">Enter user login id</span>
              </div>
            </div>
    
            <label class="label-size">User Name:</label>
            <div class="input-group">
              <span class="input-group-prepend"><label class="input-group-text" style="background:#3498db"><img src="assets/icon/themify-icons/SVG/user.svg"></label></span>
              <input type="text" class="form-control tooltip-form placeholder" placeholder=" Enter user name " formControlName="updateUsername">
              <div class="input-group placeholder">
                <span style="float:left;margin-top: 5px;" class="messages text-danger" 
                      *ngIf="(updateManageUserForm.controls['updateUsername'].hasError('required') 
                            || updateManageUserForm.controls['updateUsername'].hasError('whitespace')) 
                            && (updateManageUserForm.controls['updateUsername'].dirty 
                            || updateManageUserForm.controls['updateUsername'].touched)">Enter user full name</span>
              </div>
            </div>
    
            <label class="label-size">User Password:</label>
            <div class="input-group">
              <span class="input-group-prepend"><label class="input-group-text" style="background:#3498db"><img src="assets/icon/themify-icons/SVG/lock.svg"></label></span>
              <input type="password" class="form-control tooltip-form placeholder" placeholder=" Enter user password " formControlName="updatePassword">
            </div>

            <label class="label-size">Confirm User Password:</label>
            <div class="input-group">
              <span class="input-group-prepend"><label class="input-group-text" style="background:#3498db"><img src="assets/icon/themify-icons/SVG/lock.svg"></label></span>
              <input type="password" class="form-control tooltip-form placeholder" placeholder=" Enter confirm user password " formControlName="updateConfirmPassword">
            </div>
        
            <label class="label-size">User Role:</label>
            <div class="input-group">
              <span class="input-group-prepend"><label class="input-group-text" style="background:#3498db"><img src="assets/icon/themify-icons/SVG/user-role.svg"></label></span>
              <select class="form-control placeholder" formControlName="updateUserRole"> 
                <option value="" disabled selected>Select a role</option>
                <option *ngFor="let item of roles" [value]="item">{{item}}</option>
              </select>
              <div class="input-group placeholder">
                <span style="float:left;margin-top: 5px;" class="messages text-danger" 
                      *ngIf="updateManageUserForm.controls['updateUserRole'].hasError('required') 
                            && (updateManageUserForm.controls['updateUserRole'].dirty 
                            || updateManageUserForm.controls['updateUserRole'].touched)">Select atleast one user role</span>
              </div>
            </div>
         
        </div>
     </div>
    </div>
    <div class="form-group row">
      <div class="col-sm-12" align="center">
        <div class="col-6" style="float: right;"> 
          <button type="submit" class="btn btn-primary" style="width: 200px;" (click)="submitForm()"> Update </button>
        </div>
        <div class="col-6" style="float: left;"> 
          <button class="btn btn-primary" (click)="toggleUser()" style="width: 200px;"> Cancel </button>
        </div>
      </div>
    </div>
  </form>
</app-card> 

