<div class="card bg-c-blue notification-card">
  <div class="card-block ">
    <div class="col-12 notify-cont">
      <p class="page-title">Create Channel</p>
    </div>
  </div>
</div>

<form [formGroup]="channelForm" (ngSubmit)="submitForm()">
  <div class="card">
    <div class="card-block">
      <div class="row m-b-20">
        <div class="card-block col-10">
          <label class="label-size">Channel Id</label>
          <div class="input-group">
            <span class="input-group-prepend"><label class="input-group-text" style="background:#3498db"><img
                  src="assets/icon/themify-icons/SVG/channel.svg"></label></span>
            <input type="text" class="form-control tooltip-form placeholder" placeholder=" Enter channel id "
              formControlName="channelId">
            <div class="input-group">
              <span style="float:left;" class="messages text-danger placeholder"
                *ngIf="channelForm.controls['channelId'].hasError('required') 
                    && (channelForm.controls['channelId'].dirty 
                    || channelForm.controls['channelId'].touched)">
                Channel Id is required
              </span>
              <span style="float:left;margin-top: 5px;" class="messages text-danger" 
                    *ngIf="channelForm.controls['channelId'].hasError('channelNameIdLength') 
                          && (channelForm.controls['channelId'].dirty 
                          || channelForm.controls['channelId'].touched)">
                  Channel Id accepts 32 characters only
              </span>
            </div>
          </div>
          <label class="label-size">Channel Name</label>
          <div class="input-group">
            <span class="input-group-prepend"><label class="input-group-text" style="background:#3498db"><img
                  src="assets/icon/themify-icons/SVG/channel.svg"></label></span>
            <input type="text" class="form-control tooltip-form placeholder" placeholder=" Enter channel name "
              formControlName="channelName">
            <div class="input-group">
              <span style="float:left;" class="messages text-danger placeholder"
                *ngIf="channelForm.controls['channelName'].hasError('required') 
                    && (channelForm.controls['channelName'].dirty 
                    || channelForm.controls['channelName'].touched)">
                  Channel name is required
              </span>
              <span style="float:left;margin-top: 5px;" class="messages text-danger" 
                    *ngIf="channelForm.controls['channelName'].hasError('channelNameIdLength') 
                          && (channelForm.controls['channelName'].dirty 
                          || channelForm.controls['channelName'].touched)">
                  Channel Name accepts 32 characters only
              </span>
            </div>
          </div>
          <label class="label-size">Profile Name</label>
          <div class="input-group">
            <span class="input-group-prepend"><label class="input-group-text" style="background:#3498db"><img
                  src="assets/icon/themify-icons/SVG/profile.svg"></label></span>
            <select class="form-control placeholder" formControlName="profileName">
              <option value="" disabled selected>Select Profile</option>
              <option *ngFor="let item of profileNamesList" [value]="item">{{item}}</option>
            </select>
            <div class="input-group">
              <span style="float:left;" class="messages text-danger placeholder"
                *ngIf="channelForm.controls['profileName'].hasError('required') && (channelForm.controls['profileName'].dirty || channelForm.controls['profileName'].touched)">Profile
                name is required</span>
            </div>
          </div>
          <div class="input-group label-size" style="margin-top: 10px;">
            <div class="form-inline">
              <input type="checkbox" formControlName="channelEnabled" (change)="onChannelChange($event)" />
              <label style="padding-left: 3px;padding-right: 10px;">
                  Channel Enabled
              </label>
            </div>
          </div>
          <div class="input-group">
            <span style="float:left;" class="messages text-danger placeholder"
              *ngIf="channelForm.controls['channelEnabled'].hasError('required') && (channelForm.controls['channelEnabled'].dirty || channelForm.controls['channelEnabled'].touched)">Enabled
              channel required</span>
          </div>
        </div>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-sm-12" align="center">
        <div class="col-6">
          <button type="submit" class="btn btn-primary" style="width: 400px"> Add Channel </button>
        </div>
      </div>
    </div>
  </div>
</form>