<div class="card bg-c-blue notification-card">
  <div class="card-block ">
      <div class="col-12 notify-cont">
        <p class="page-title">Channel To Approve</p>
      </div>
  </div>
</div>

<app-card [cardOptionBlock]="true" *ngIf="channelsList">
  <ngx-datatable 
      class="data-table"
      [columnMode]="'force'"
      [headerHeight]="50"
      [footerHeight]="45"
      [rowHeight]="'auto'"
      [limit]="10"
      [scrollbarH]="true"
      [rows]="channelList"
      [sorts]="[{prop: 'creationDate', dir: 'desc'}]">

      <ngx-datatable-column name="Channel Name"  [resizeable]="false" [sortable]="false" 
      [draggable]="false" [canAutoResize]="true">
          <ng-template let-column="column" ngx-datatable-header-template>
              <span class="datatable-header-cell-label draggable datatable-column">{{column.name}}</span>
          </ng-template> 
          <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
              <span class="datatable-row"> {{row.channelName}} </span>
          </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Profile Name" [resizeable]="false" [sortable]="false" 
      [draggable]="false" [canAutoResize]="true">
          <ng-template let-column="column" ngx-datatable-header-template>
              <span class="datatable-header-cell-label draggable datatable-column">{{column.name}}</span>
          </ng-template> 
          <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
              <span class="datatable-row"> {{row.profileName}} </span>
          </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Channel Enabled" [resizeable]="false" [sortable]="false" 
      [draggable]="false" [canAutoResize]="true">
          <ng-template let-column="column" ngx-datatable-header-template>
              <span class="datatable-header-cell-label draggable datatable-column">{{column.name}}</span>
          </ng-template> 
          <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
              <span class="datatable-row"> {{row.enabled}} </span>
          </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Created By" [resizeable]="false" [sortable]="false" 
      [draggable]="false" [canAutoResize]="true">
          <ng-template let-column="column" ngx-datatable-header-template>
              <span class="datatable-header-cell-label draggable datatable-column">{{column.name}}</span>
          </ng-template> 
          <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
              <span class="datatable-row"> {{row.createdBy}} </span>
          </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Created Date" [resizeable]="false" [sortable]="false" 
      [draggable]="false" [canAutoResize]="true">
          <ng-template let-column="column" ngx-datatable-header-template>
              <span class="datatable-header-cell-label draggable datatable-column">{{column.name}}</span>
          </ng-template> 
          <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
              <span class="datatable-row"> {{row.creationDate | date:'dd-MM-yyyy HH:mm:ss'}} </span>
          </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Action" [resizeable]="false" [sortable]="false" 
      [draggable]="false" [canAutoResize]="true">
          <ng-template let-column="column" ngx-datatable-header-template>
              <span class="datatable-header-cell-label draggable datatable-column">{{column.name}}</span>
          </ng-template> 
          <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
              <span class="datatable-row">{{row.action}}</span>
          </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Channel Details" [resizeable]="false" [sortable]="false" 
      [draggable]="false" [canAutoResize]="true">
        <ng-template let-column="column" ngx-datatable-header-template>
          <span class="datatable-header-cell-label draggable datatable-column">{{column.name}}</span>
        </ng-template> 
        <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row"> 
          <a href="javascript:;" (click)="viewChannelRecord(row.channelId)" [style.color]="'#007bff'">
              View Channel
          </a>
        </ng-template>
      </ngx-datatable-column>
</ngx-datatable>
</app-card>

<app-card [cardOptionBlock]="true" *ngIf="!viewUpdatedChannel">
  <div class="col-lg-12 col-xl-12" style="margin-bottom: 20px;"><Span><h6>Channel Details<a href="javascript:;" class="crm-action-delete text-danger f-right" (click)="toggleCloseChannelRecord()"><i class="ti-close"></i></a></h6></Span></div>
  <div class="col-lg-12 col-xl-12">
    <div class="table-responsive">
      <table class="table m-0">
        <tbody>
          <tr>
            <th scope="row">Channel Name</th>
            <td>{{channelUpdatedRowData.channelName}}</td>
          </tr>
          <tr>
            <th scope="row">Profile Id</th>
            <td>{{channelUpdatedRowData.profileId}}</td>
          </tr>
          <tr>
            <th scope="row">Keep Alive Timeout</th>
            <td>{{channelUpdatedRowData.keepAliveTimeout}}</td>
          </tr>
          <tr>
            <th scope="row">Keep Alive Url</th>
            <td>{{channelUpdatedRowData.keepAliveUrl}}</td>
          </tr>
          <tr>
            <th scope="row">Profile Name</th>
            <td>{{channelUpdatedRowData.profileName}}</td>
          </tr>
          <tr>
            <th scope="row">Enabled</th>
            <td>{{channelUpdatedRowData.enabled}}</td>
          </tr>
          <tr>
            <th scope="row">Channel Created By</th>
            <td>{{channelUpdatedRowData.createdBy}}</td>
          </tr>
          <tr>
            <th scope="row">Channel Creation Date</th>
            <td>{{channelUpdatedRowData.creationDate | date:'dd-MM-yyyy HH:mm:ss' }}</td>
          </tr>
          <tr>
            <th scope="row">Channel Update By</th>
            <td>{{channelUpdatedRowData.updatedBy}}</td>
          </tr>
          <tr>
            <th scope="row">Channel Updation Date</th>
            <td>{{channelUpdatedRowData.updationDate | date:'dd-MM-yyyy HH:mm:ss' }}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="form-group row" style="margin-top: 20px;">
      <div class="col-sm-12" align="center">
        <div class="col-6" style="float: left;"> 
          <button type="button" class="btn btn-primary" (click)="getApproveModal(channelUpdatedRowData)"  style="width: 200px;"> Approve </button>
        </div>
        <div class="col-6" style="float: right;"> 
          <button type="button" class="btn btn-primary" (click)="getRejectModal(channelUpdatedRowData)" style="width: 200px;"> Reject </button>
       </div>
      </div>
    </div>
  </div>
</app-card>

<app-card [cardOptionBlock]="true" *ngIf="!viewChannel">
  <div class="col-lg-12 col-xl-12" style="margin-bottom: 20px;"><Span><h6>Channel Details<a href="javascript:;" class="crm-action-delete text-danger f-right" (click)="toggleCloseChannelRecord()"><i class="ti-close"></i></a></h6></Span></div>
  <div class="col-lg-12 col-xl-12">
    <div class="table-responsive">
      <table class="table m-0">
        <th scope="row"><h6>Parameters</h6></th>
        <th scope="row"><h6>Current Values</h6></th>
        <th scope="row"><h6>Updated Values</h6></th>
        <tbody>
          <tr>
            <th scope="row">Channel Id</th>
            <td>{{channelRowData.channelId}}</td>
            <td></td>
          </tr>
          <tr>
            <th scope="row">Channel Name</th>
            <td>{{channelRowData.channelName}}</td>
            <td>{{channelName}}</td>
          </tr>
          <tr>
            <th scope="row">Profile Id</th>
            <td>{{channelRowData.profileId}}</td>
            <td>{{profileId}}</td>
          </tr>
          <tr>
            <th scope="row">Keep Alive Timeout</th>
            <td>{{channelRowData.keepAliveTimeout}}</td>
            <td>{{keepAliveTimeout}}</td>
          </tr>
          <tr>
            <th scope="row">Keep Alive Url</th>
            <td>{{channelRowData.keepAliveUrl}}</td>
            <td>{{keepAliveUrl}}</td>
          </tr>
          <tr>
            <th scope="row">Profile Name</th>
            <td>{{channelRowData.profileName}}</td>
            <td>{{profileName}}</td>
          </tr>
          <tr>
            <th scope="row">Enabled</th>
            <td>{{channelRowData.enabled}}</td>
            <td>{{enabled}}</td>
          </tr>
          <tr>
            <th scope="row">Channel Created By</th>
            <td>{{channelRowData.createdBy}}</td>
            <td>{{createdBy}}</td>
          </tr>
          <tr>
            <th scope="row">Channel Creation Date</th>
            <td>{{channelRowData.creationDate | date:'dd-MM-yyyy HH:mm:ss'}}</td>
            <td>{{creationDate | date:'dd-MM-yyyy HH:mm:ss' }}</td>
          </tr>
          <tr>
            <th scope="row">Channel Update By</th>
            <td>{{channelRowData.updatedBy}}</td>
            <td>{{updatedBy}}</td>
          </tr>
          <tr>
            <th scope="row">Channel Updation Date</th>
            <td>{{channelRowData.updationDate | date:'dd-MM-yyyy HH:mm:ss'}}</td>
            <td>{{updationDate | date:'dd-MM-yyyy HH:mm:ss' }}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="form-group row" style="margin-top: 20px;">
      <div class="col-sm-12" align="center">
        <div class="col-6" style="float: left;"> 
          <button type="button" class="btn btn-primary" (click)="getApproveModal(channelUpdatedRowData)"  style="width: 200px;"> Approve </button>
        </div>
        <div class="col-6" style="float: right;"> 
          <button type="button" class="btn btn-primary" (click)="getRejectModal(channelUpdatedRowData)" style="width: 200px;"> Reject </button>
       </div>
      </div>
    </div>
  </div>
</app-card>
