<div class="card bg-c-blue notification-card">
  <div class="card-block ">
      <div class="col-12 notify-cont">
        <p class="page-title">Consent Templates To Approve</p>
      </div>
  </div>
</div>

<app-card [cardOptionBlock]="true" *ngIf="consentTemplatesList">
  <ngx-datatable 
      class="data-table"
      [columnMode]="'force'"
      [headerHeight]="50"
      [footerHeight]="45"
      [rowHeight]="'auto'"
      [limit]="10"
      [scrollbarH]="true"
      [rows]="consentTemplateList"
      [sorts]="[{prop: 'creationDate', dir: 'desc'}]">

      <ngx-datatable-column name="Template Name" [resizeable]="false" [sortable]="false" 
      [draggable]="false" [canAutoResize]="true">
          <ng-template let-column="column" ngx-datatable-header-template>
              <span class="datatable-header-cell-label draggable datatable-column">{{column.name}}</span>
          </ng-template>      
          <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
              <span class="datatable-row"> {{row.templateName}} </span>
          </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Template Description" [resizeable]="false" [sortable]="false" 
      [draggable]="false" [canAutoResize]="true">
          <ng-template let-column="column" ngx-datatable-header-template>
              <span class="datatable-header-cell-label draggable datatable-column">{{column.name}}</span>
          </ng-template> 
          <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
              <span class="datatable-row"> {{row.templateDescription}} </span>
          </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Consent Purpose" [resizeable]="false" [sortable]="false" 
      [draggable]="false" [canAutoResize]="true">
          <ng-template let-column="column" ngx-datatable-header-template>
              <span class="datatable-header-cell-label draggable datatable-column">{{column.name}}</span>
          </ng-template> 
          <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
              <span class="datatable-row"> {{row.Purpose.text}} </span>
          </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Created By" [resizeable]="false" [sortable]="false" 
      [draggable]="false" [canAutoResize]="true">
          <ng-template let-column="column" ngx-datatable-header-template>
              <span class="datatable-header-cell-label draggable datatable-column">{{column.name}}</span>
          </ng-template> 
          <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
              <span class="datatable-row"> {{row.createdBy}} </span>
          </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Created Date" [resizeable]="false" [sortable]="false" 
      [draggable]="false" [canAutoResize]="true">
          <ng-template let-column="column" ngx-datatable-header-template>
              <span class="datatable-header-cell-label draggable datatable-column">{{column.name}}</span>
          </ng-template> 
          <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
              <span class="datatable-row"> {{row.creationDate | date:'dd-MM-yyyy HH:mm:ss'}} </span>
          </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Action" [resizeable]="false" [sortable]="false" 
      [draggable]="false" [canAutoResize]="true">
          <ng-template let-column="column" ngx-datatable-header-template>
              <span class="datatable-header-cell-label draggable datatable-column">{{column.name}}</span>
          </ng-template> 
          <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
              <span class="datatable-row">{{row.action}}</span>
          </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Template Details" [resizeable]="false" [sortable]="false" 
        [draggable]="false" [canAutoResize]="true">
          <ng-template let-column="column" ngx-datatable-header-template>
            <span class="datatable-header-cell-label draggable datatable-column">{{column.name}}</span>
          </ng-template> 
          <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row"> 
            <a href="javascript:;" (click)="viewConsentTemplateRecord(row.templateName)" [style.color]="'#007bff'">
                View Template
            </a>
          </ng-template>
        </ngx-datatable-column>
</ngx-datatable>
</app-card>

<app-card [cardOptionBlock]="true" *ngIf="!viewUpdatedConsentTemplate">
  <div class="col-lg-12 col-xl-12" style="margin-bottom: 20px;"><Span><h6>Consent Templates Details<a href="javascript:;" class="crm-action-delete text-danger f-right" (click)="toggleCloseTemplateRecord()"><i class="ti-close"></i></a></h6></Span></div>
  <div class="col-lg-12 col-xl-12">
    <div class="table-responsive">
      <table class="table m-0">
        <tbody>
          <tr>
            <th scope="row">Template Name</th>
            <td>{{consentUpdatedTemplateRowData.templateName}}</td>
          </tr>
          <tr>
            <th scope="row">Template Description</th>
            <td>{{consentUpdatedTemplateRowData.templateDescription}}</td>
          </tr>
          <tr>
            <th scope="row">Consent Mode</th>
            <td>{{consentUpdatedTemplateRowData.consentMode}}</td>
          </tr>
          <tr>
            <th scope="row">Consent Purpose</th>
            <td>{{consentUpdatedTemplateRowData.Purpose.text}}</td>
          </tr>
          <tr>
            <th scope="row">Consent Purpose Code</th>
            <td>{{consentUpdatedTemplateRowData.Purpose.code}}</td>
          </tr>
          <tr>
            <th scope="row">Consent Purpose Category</th>
            <td>{{consentUpdatedTemplateRowData.Purpose.Category.type}}</td>
          </tr>
          <tr>
            <th scope="row">Consent types</th>
            <td>{{consentUpdatedTemplateRowData.consentTypes.join(', ')}}</td>
          </tr>
          <tr>
            <th scope="row">Fi Types </th>
            <td>{{consentUpdatedTemplateRowData.fiTypes.join(', ')}}</td>
          </tr>
          <tr>
            <th scope="row">Fetch Type </th>
            <td>{{consentUpdatedTemplateRowData.fetchType}}</td>
          </tr>
          <tr>
            <th scope="row">Frequency </th>
            <td>{{consentUpdatedTemplateRowData.Frequency.unit}}</td>
          </tr>
          <tr>
            <th scope="row">Frequency Value</th>
            <td>{{consentUpdatedTemplateRowData.Frequency.value}}</td>
          </tr>
          <tr>
            <th scope="row">Consent Start Days</th>
            <td>{{consentUpdatedTemplateRowData.consentStartDays}} day(s)</td>
          </tr>
          <tr>
            <th scope="row">Consent Expiry</th>
            <td>{{consentUpdatedTemplateRowData.ConsentExpiry.value}} {{consentUpdatedTemplateRowData.ConsentExpiry.unit}}</td>
          </tr>
          <tr>
            <th scope="row">DataLife</th>
            <td>{{consentUpdatedTemplateRowData.DataLife.value}} {{consentUpdatedTemplateRowData.DataLife.unit}}</td>
          </tr>
          <tr>
            <th scope="row">Financial Data range</th>
            <td>DataRange Start Months: {{consentUpdatedTemplateRowData.dataRangeStartMonths }} MONTH<br/>DataRange End Months: {{consentUpdatedTemplateRowData.dataRangeEndMonths }} MONTH</td>
          </tr>
          <tr>
            <th scope="row">Template Created By</th>
            <td>{{consentUpdatedTemplateRowData.createdBy}}</td>
          </tr>
          <tr>
            <th scope="row">Template Creation Date</th>
            <td>{{consentUpdatedTemplateRowData.creationDate | date:'dd-MM-yyyy HH:mm:ss' }}</td>
          </tr>
          <tr>
            <th scope="row">Template Update By</th>
            <td>{{consentUpdatedTemplateRowData.updatedBy}}</td>
          </tr>
          <tr>
            <th scope="row">Template Updation Date</th>
            <td>{{consentUpdatedTemplateRowData.updationDate | date:'dd-MM-yyyy HH:mm:ss' }}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="form-group row" style="margin-top: 20px;">
      <div class="col-sm-12" align="center">
        <div class="col-6" style="float: left;"> 
          <button type="button" class="btn btn-primary" (click)="getApproveModal(consentUpdatedTemplateRowData)"  style="width: 200px;"> Approve </button>
        </div>
        <div class="col-6" style="float: right;"> 
          <button type="button" class="btn btn-primary" (click)="getRejectModal(consentUpdatedTemplateRowData)" style="width: 200px;"> Reject </button>
       </div>
      </div>
    </div>
  </div>
</app-card>

<app-card [cardOptionBlock]="true" *ngIf="!viewConsentTemplate">
  <div class="col-lg-12 col-xl-12" style="margin-bottom: 20px;"><Span><h6>Consent Templates Details<a href="javascript:;" class="crm-action-delete text-danger f-right" (click)="toggleCloseTemplateRecord()"><i class="ti-close"></i></a></h6></Span></div>
  <div class="col-lg-12 col-xl-12">
    <div class="table-responsive">
      <table class="table m-0">
        <th scope="row"><h6>Parameters</h6></th>
        <th scope="row"><h6>Current Values</h6></th>
        <th scope="row"><h6>Updated Values</h6></th>
        <tbody>
          <tr>
            <th scope="row">Template Name</th>
            <td>{{consentTemplateRowData.templateName}}</td>
            <td></td>
          </tr>
          <tr>
            <th scope="row">Template Description</th>
            <td>{{consentTemplateRowData.templateDescription}}</td>
            <td>{{templateDescription}}</td>
          </tr>
          <tr>
            <th scope="row">Consent Mode</th>
            <td>{{consentTemplateRowData.consentMode}}</td>
            <td>{{consentMode}}</td>
          </tr>
          <tr>
            <th scope="row">Consent Purpose</th>
            <td>{{consentTemplateRowData.Purpose.text}}</td>
            <td>{{purposeText}}</td>
          </tr>
          <tr>
            <th scope="row">Consent Purpose Code</th>
            <td>{{consentTemplateRowData.Purpose.code}}</td>
            <td>{{purposeCode}}</td>
          </tr>
          <tr>
            <th scope="row">Consent Purpose Category</th>
            <td>{{consentTemplateRowData.Purpose.Category.type}}</td>
            <td>{{purposeCategoryType}}</td>
          </tr>
          <tr>
            <th scope="row">Consent types</th>
            <td>{{consentTemplateRowData.consentTypes.join(', ')}}</td>
            <td>{{consentTypes}}</td>
          </tr>
          <tr>
            <th scope="row">Fi Types </th>
            <td>{{consentTemplateRowData.fiTypes.join(', ')}}</td>
            <td>{{fiTypes}}</td>
          </tr>
          <tr>
            <th scope="row">Fetch Type </th>
            <td>{{consentTemplateRowData.fetchType}}</td>
            <td>{{fetchType}}</td>
          </tr>
          <tr>
            <th scope="row">Frequency </th>
            <td>{{consentTemplateRowData.Frequency.value}} {{consentTemplateRowData.Frequency.unit}}</td>
            <td>{{frequencyValue}} {{frequencyUnit}}</td>
          </tr>
          <tr>
            <th scope="row">Consent Start Days</th>
            <td>{{consentTemplateRowData.consentStartDays}} day(s)</td>
            <td>{{consentStartDays}}</td>
          </tr>
          <tr>
            <th scope="row">Consent Expiry</th>
            <td>{{consentTemplateRowData.ConsentExpiry.value}} {{consentTemplateRowData.ConsentExpiry.unit}}</td>
            <td>{{consentExpiryValue}} {{consentExpiryUnit}}</td>
          </tr>
          <tr>
            <th scope="row">DataLife</th>
            <td>{{consentTemplateRowData.DataLife.value}} {{consentTemplateRowData.DataLife.unit}}</td>
            <td>{{dataLifeValue}} {{dataLifeUnit}}</td>
          </tr>
          <tr>
            <th scope="row">Financial Data range</th>
            <td>DataRange Start Months: {{consentTemplateRowData.dataRangeStartMonths }} MONTH<br/>DataRange End Months: {{consentTemplateRowData.dataRangeEndMonths }} MONTH</td>
            <td>{{dataRangeStartMonths }}<br/>{{dataRangeEndMonths }}</td>
          </tr>
          <tr>
            <th scope="row">Template Created By</th>
            <td>{{consentUpdatedTemplateRowData.createdBy}}</td>
            <td>{{createdBy}}</td>
          </tr>
          <tr>
            <th scope="row">Template Creation Date</th>
            <td>{{consentTemplateRowData.creationDate | date:'dd-MM-yyyy HH:mm:ss'}}</td>
            <td>{{creationDate  | date:'dd-MM-yyyy HH:mm:ss' }}</td>
          </tr>
          <tr>
            <th scope="row">Template Update By</th>
            <td>{{consentTemplateRowData.updatedBy}}</td>
            <td>{{updatedBy}}</td>
          </tr>
          <tr>
            <th scope="row">Template Updation Date</th>
            <td>{{consentTemplateRowData.updationDate | date:'dd-MM-yyyy HH:mm:ss'}}</td>
            <td>{{updationDate | date:'dd-MM-yyyy HH:mm:ss' }}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="form-group row" style="margin-top: 20px;">
      <div class="col-sm-12" align="center">
        <div class="col-6" style="float: left;"> 
          <button type="button" class="btn btn-primary" (click)="getApproveModal(consentUpdatedTemplateRowData)"  style="width: 200px;"> Approve </button>
        </div>
        <div class="col-6" style="float: right;"> 
          <button type="button" class="btn btn-primary" (click)="getRejectModal(consentUpdatedTemplateRowData)" style="width: 200px;"> Reject </button>
       </div>
      </div>
    </div>
  </div>
</app-card>
