<div class="card bg-c-blue notification-card">
  <div class="card-block ">
      <div class="col-12 notify-cont">
        <p class="page-title">Create User Role</p>
      </div>
  </div>
</div>

<form [formGroup]="createUserRoleForm" (ngSubmit)="submitForm()"> 
  <div class="card">
  <div class="card-block">
    <div class="row m-b-20">
      <div class="card-block col-10">
        <label class="label-size">Role Name:</label>
        <div class="input-group">
          <span class="input-group-prepend"><label class="input-group-text" style="background:#3498db"><img src="assets/icon/themify-icons/SVG/user.svg"></label></span>
          <input type="text" class="form-control tooltip-form placeholder" placeholder="Enter Role Name" formControlName="roleName">
          <div class="input-group placeholder">
            <span style="float:left;margin-top: 5px;" class="messages text-danger" 
                  *ngIf="(createUserRoleForm.controls['roleName'].hasError('required') 
                        || createUserRoleForm.controls['roleName'].hasError('whitespace')) 
                        && (createUserRoleForm.controls['roleName'].dirty 
                        || createUserRoleForm.controls['roleName'].touched)">Enter Role Name</span>
          </div>
        </div>
        <label class="label-size">Role Description:</label>
        <div class="input-group">
          <span class="input-group-prepend"><label class="input-group-text" style="background:#3498db"><img src="assets/icon/themify-icons/SVG/user.svg"></label></span>
          <input type="text" class="form-control tooltip-form placeholder" placeholder="Enter Role Description" formControlName="roleDescription">
          <div class="input-group placeholder">
            <span style="float:left;margin-top: 5px;" class="messages text-danger" 
                  *ngIf="(createUserRoleForm.controls['roleDescription'].hasError('required') 
                        || createUserRoleForm.controls['roleDescription'].hasError('whitespace')) 
                        && (createUserRoleForm.controls['roleDescription'].dirty 
                        || createUserRoleForm.controls['roleDescription'].touched)">Enter Role Description</span>
          </div>
        </div>
        <label class="label-size">Role Permissions:</label>
        <div class="input-group">
          <table class="table table-bordered">
            <thead>
              <tr>
                  <th></th>
                  <th>Permission Group</th>
                  <th>Group APIs</th>
              </tr>
              </thead>
                <tbody *ngFor="let item of permissionGroups">
                  <tr class="table-active">
                    <td>
                      <input type="checkbox"
                            id="selectPermission"
                            formControlName="selectPermission"
                            (change)="onCheckBoxChange(item.permissionGroup, $event)" 
                            [checked]="isSelected(item.permissionGroup)"/> 
                    </td>
                    <td>{{item.permissionGroup}}</td>
                    <td class="wrapword">{{item.groupApis.join(" , ")}}</td>
                  </tr>
                </tbody>
          </table> 
        </div>
      </div>
   </div>
   <div class="form-group row">
    <div class="col-sm-12" align="center">
      <div class="col-6"> 
        <button type="submit" class="btn btn-primary" style="width: 400px"> Add User Role </button>
      </div>
    </div>
  </div>
  </div>
  </div>
</form>

