<div class="card bg-c-blue notification-card">
    <div class="card-block ">
      <div class="col-12 notify-cont">
        <p class="page-title">Create Profile</p>
      </div>
    </div>
  </div>
  
  <form [formGroup]="profileForm" (ngSubmit)="submitForm()">
    <div class="card">
      <div class="card-block">
        <div class="row m-b-20">
          <div class="card-block col-10">
            <label class="label-size">Profile Id</label>
            <div class="input-group">
              <span class="input-group-prepend"><label class="input-group-text" style="background:#3498db"><img
                    src="assets/icon/themify-icons/SVG/profile.svg"></label></span>
              <input type="text" class="form-control tooltip-form placeholder" placeholder=" Enter profile id "
                formControlName="profileId">
              <div class="input-group">
                <span style="float:left;" class="messages text-danger placeholder"
                  *ngIf="profileForm.controls['profileId'].hasError('required') 
                      && (profileForm.controls['profileId'].dirty 
                      || profileForm.controls['profileId'].touched)">
                  Profile Id is required
                </span>
                <span style="float:left;margin-top: 5px;" class="messages text-danger" 
                      *ngIf="profileForm.controls['profileId'].hasError('profileNameIdLength') 
                            && (profileForm.controls['profileId'].dirty 
                            || profileForm.controls['profileId'].touched)">
                    Profile Id accepts 32 characters only
                </span>
              </div>
            </div>
            <label class="label-size">Profile Name</label>
            <div class="input-group">
              <span class="input-group-prepend"><label class="input-group-text" style="background:#3498db"><img
                    src="assets/icon/themify-icons/SVG/profile.svg"></label></span>
              <input type="text" class="form-control tooltip-form placeholder" placeholder=" Enter profile name "
                formControlName="profileName">
              <div class="input-group">
                <span style="float:left;" class="messages text-danger placeholder"
                        *ngIf="profileForm.controls['profileName'].hasError('required') 
                            && (profileForm.controls['profileName'].dirty 
                            || profileForm.controls['profileName'].touched)">
                    Profile name is required
                </span>
                <span style="float:left;margin-top: 5px;" class="messages text-danger" 
                      *ngIf="profileForm.controls['profileName'].hasError('profileNameIdLength') 
                            && (profileForm.controls['profileName'].dirty 
                            || profileForm.controls['profileName'].touched)">
                    Profile Name accepts 32 characters only
                </span>
              </div>
            </div>
            <label class="label-size">Profile Description</label>
            <div class="input-group">
                <span class="input-group-prepend"><label class="input-group-text" style="background:#3498db"><img
                      src="assets/icon/themify-icons/SVG/profile.svg"></label></span>
                <input type="text" class="form-control tooltip-form placeholder" placeholder=" Enter profile description "
                  formControlName="profileDescription">
                <div class="input-group">
                  <span style="float:left;" class="messages text-danger placeholder"
                          *ngIf="profileForm.controls['profileDescription'].hasError('required') 
                              && (profileForm.controls['profileDescription'].dirty 
                              || profileForm.controls['profileDescription'].touched)">
                      Profile description is required
                  </span>
                </div>
            </div>  
            <label class="label-size">Profile APIs</label>
            <div class="input-group main-container">
                <div class="input-group placeholder" *ngFor="let item of profileApiUrlList">
                    <input type="checkbox"
                          formControlName="profileAPIs"
                          (change)="onCheckboxChange(item,$event)"
                          [checked]="isSelected(item)"/> 
                    <label style="padding-left: 3px;">
                      {{item}}
                    </label>       
                </div> 
              <div class="input-group">
                <span style="float:left;" class="messages text-danger placeholder" 
                    *ngIf="profileForm.controls['profileAPIs'].hasError('required') 
                         && (profileForm.controls['profileAPIs'].dirty 
                         || profileForm.controls['profileAPIs'].touched)">
                    Select atleast one profile api
                </span>
              </div>
            </div> 
          </div>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-sm-12" align="center">
          <div class="col-6">
            <button type="submit" class="btn btn-primary" style="width: 400px"> Add Profile </button>
          </div>
        </div>
      </div>
    </div>
  </form>