<div class="card bg-c-blue notification-card">
  <div class="card-block ">
      <div class="col-12 notify-cont">
        <p class="page-title">Consent Templates</p>
      </div>
  </div>
</div>

<app-card [cardOptionBlock]="true" *ngIf="consentTemplatesList">
  <ngx-datatable 
      class="data-table"
      [columnMode]="'force'"
      [headerHeight]="50"
      [footerHeight]="45"
      [rowHeight]="'auto'"
      [limit]="10"
      [scrollbarH]="true"
      [rows]="consentTemplateList"
      [sorts]="[{prop: 'creationDate', dir: 'desc'}]">

      <ngx-datatable-column name="Template Name" [resizeable]="false" [sortable]="false" 
      [draggable]="false" [canAutoResize]="true">
          <ng-template let-column="column" ngx-datatable-header-template>
              <span class="datatable-header-cell-label draggable datatable-column">{{column.name}}</span>
          </ng-template>      
          <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
              <span class="datatable-row"> {{row.templateName}} </span>
          </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Template Description" [resizeable]="false" [sortable]="false" 
      [draggable]="false" [canAutoResize]="true">
          <ng-template let-column="column" ngx-datatable-header-template>
              <span class="datatable-header-cell-label draggable datatable-column">{{column.name}}</span>
          </ng-template> 
          <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
              <span class="datatable-row"> {{row.templateDescription}} </span>
          </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Consent Purpose" [resizeable]="false" [sortable]="false" 
      [draggable]="false" [canAutoResize]="true">
          <ng-template let-column="column" ngx-datatable-header-template>
              <span class="datatable-header-cell-label draggable datatable-column">{{column.name}}</span>
          </ng-template> 
          <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
              <span class="datatable-row"> {{row.Purpose.text}} </span>
          </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Created By" [resizeable]="false" [sortable]="false" 
      [draggable]="false" [canAutoResize]="true">
          <ng-template let-column="column" ngx-datatable-header-template>
              <span class="datatable-header-cell-label draggable datatable-column">{{column.name}}</span>
          </ng-template> 
          <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
              <span class="datatable-row"> {{row.createdBy}} </span>
          </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Created Date" [resizeable]="false" [sortable]="false" 
      [draggable]="false" [canAutoResize]="true">
          <ng-template let-column="column" ngx-datatable-header-template>
              <span class="datatable-header-cell-label draggable datatable-column">{{column.name}}</span>
          </ng-template> 
          <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
              <span class="datatable-row"> {{row.creationDate | date:'dd-MM-yyyy HH:mm:ss'}} </span>
          </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Active" [resizeable]="false" [sortable]="false" 
      [draggable]="false" [canAutoResize]="true">
          <ng-template let-column="column" ngx-datatable-header-template>
              <span class="datatable-header-cell-label draggable datatable-column">{{column.name}}</span>
          </ng-template> 
          <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
              <span class="datatable-row"> {{row.active}} </span>
          </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Actions" [resizeable]="false" [sortable]="false" 
        [draggable]="false" [canAutoResize]="true">
          <ng-template let-column="column" ngx-datatable-header-template>
            <span class="datatable-header-cell-label draggable datatable-column">{{column.name}}</span>
          </ng-template> 
          <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row"> 
            <a href="javascript:;" class="m-r-15 crm-action-view text-info" (click)="viewConsentTemplateRecord(row.templateName)"
              data-toggle="popover" data-trigger="hover" aria-hidden="true" data-placement="bottom" title="View Template">
              <i class="fa fa-book" style="font-size: 16px;"></i></a>
            <a href="javascript:;" class="m-r-15 crm-action-edit text-primary" (click)="editConsentTemplateRecord(row.templateName)"
               data-toggle="popover" data-trigger="hover" aria-hidden="true" data-placement="bottom" title="Update Template">
               <i class="fa fa-edit" style="font-size: 16px;"></i></a>
            <a href="javascript:;" class="crm-action-delete text-danger" (click)="openDeleteModal(row.templateName)"
              data-toggle="popover" data-trigger="hover" aria-hidden="true" data-placement="bottom" title="Delete Template">
              <i class="fa fa-trash" style="font-size: 16px;"></i></a>
          </ng-template>
        </ngx-datatable-column>
</ngx-datatable>
</app-card>

<app-card [cardOptionBlock]="true" *ngIf="!viewConsentTemplate">
  <div class="col-lg-12 col-xl-12" style="margin-bottom: 20px;"><Span><h6>Consent Templates Details<a href="javascript:;" class="crm-action-delete text-danger f-right" (click)="toggleCloseTemplateRecord()"><i class="ti-close"></i></a></h6></Span></div>
  <div class="col-lg-12 col-xl-10">
    <div class="table-responsive">
      <table class="table m-0">
        <tbody>
          <tr>
            <th scope="row">Template Name</th>
            <td>{{consentTemplateRowData.templateName}}</td>
          </tr>
          <tr>
            <th scope="row">Template Description</th>
            <td>{{consentTemplateRowData.templateDescription}}</td>
          </tr>
          <tr>
            <th scope="row">Consent Mode</th>
            <td>{{consentTemplateRowData.consentMode}}</td>
          </tr>
          <tr>
            <th scope="row">Consent Purpose</th>
            <td>{{consentTemplateRowData.Purpose.text}}</td>
          </tr>
          <tr>
            <th scope="row">Consent Purpose Code</th>
            <td>{{consentTemplateRowData.Purpose.code}}</td>
          </tr>
          <tr>
            <th scope="row">Consent Purpose Category</th>
            <td>{{consentTemplateRowData.Purpose.Category.type}}</td>
          </tr>
          <tr>
            <th scope="row">Consent types</th>
            <td>{{consentTemplateRowData.consentTypes.join(', ')}}</td>
          </tr>
          <tr>
            <th scope="row">Fi Types </th>
            <td>{{consentTemplateRowData.fiTypes.join(', ')}}</td>
          </tr>
          <tr>
            <th scope="row">Fetch Type </th>
            <td>{{consentTemplateRowData.fetchType}}</td>
          </tr>
          <tr>
            <th scope="row">Frequency </th>
            <td>{{consentTemplateRowData.Frequency.value}} {{consentTemplateRowData.Frequency.unit}}</td>
          </tr>
          <tr>
            <th scope="row">Consent Start Days</th>
            <td>{{consentTemplateRowData.consentStartDays}} day(s)</td>
          </tr>
          <tr>
            <th scope="row">Consent Expiry</th>
            <td>{{consentTemplateRowData.ConsentExpiry.value}} {{consentTemplateRowData.ConsentExpiry.unit}}</td>
          </tr>
          <tr>
            <th scope="row">DataLife</th>
            <td>{{consentTemplateRowData.DataLife.value}} {{consentTemplateRowData.DataLife.unit}}</td>
          </tr>
          <tr>
            <th scope="row">Financial Data range</th>
            <td>DataRange Start Months: {{consentTemplateRowData.dataRangeStartMonths }} MONTH<br/>DataRange End Months: {{consentTemplateRowData.dataRangeEndMonths }} MONTH</td>
          </tr>
          <tr>
            <th scope="row">Template Created By</th>
            <td>{{consentTemplateRowData.createdBy}}</td>
          </tr>
          <tr>
            <th scope="row">Template Creation Date</th>
            <td>{{consentTemplateRowData.creationDate | date:'dd-MM-yyyy HH:mm:ss' }}</td>
          </tr>
          <tr>
            <th scope="row">Template Update By</th>
            <td>{{consentTemplateRowData.updatedBy}}</td>
          </tr>
          <tr>
            <th scope="row">Template Updation Date</th>
            <td>{{consentTemplateRowData.updationDate | date:'dd-MM-yyyy HH:mm:ss' }}</td>
          </tr>
          <tr>
            <th scope="row">Approved By</th>
            <td>{{consentTemplateRowData.approvedBy}}</td>
          </tr>
          <tr>
            <th scope="row">Approved Date</th>
            <td>{{consentTemplateRowData.approvedDate | date:'dd-MM-yyyy HH:mm:ss' }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</app-card>

<app-card [cardOptionBlock]="true" *ngIf="!editConsentTemplate">
  <form [formGroup]="updateConsentTemplateForm"> 
    <div class="card-block">
      <div class="row m-b-20">
        <div class="col-sm-12 col-lg-12">
          <p class="sub-title" style="font-size: 16px;">Template Information</p>
          <div class="row">
            <div class="col-sm-6">
              <label class="label-size">Template Name</label>
              <div class="input-group">
                <span class="input-group-prepend"><label class="input-group-text" style="background:#3498db"><img src="assets/icon/themify-icons/SVG/template.svg"></label></span>
                <input type="text" class="form-control tooltip-form placeholder" placeholder=" Enter template name " formControlName="updateTemplateName" readonly>
                <div class="input-group placeholder">
                  <span style="float:left;margin-top: 5px;" class="messages text-danger" 
                        *ngIf="(updateConsentTemplateForm.controls['updateTemplateName'].hasError('required') 
                              || updateConsentTemplateForm.controls['updateTemplateName'].hasError('whitespace')) 
                              && (updateConsentTemplateForm.controls['updateTemplateName'].dirty 
                              || updateConsentTemplateForm.controls['updateTemplateName'].touched)">Enter template name</span>
                  <span style="float:left;margin-top: 5px;" class="messages text-danger" 
                        *ngIf="updateConsentTemplateForm.controls['updateTemplateName'].hasError('updateTemplateNameLength') 
                              && (updateConsentTemplateForm.controls['updateTemplateName'].dirty 
                              || updateConsentTemplateForm.controls['updateTemplateName'].touched)">Template name accepts 32 characters only</span>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <label class="label-size">Template Description</label>
              <div class="input-group">
                <span class="input-group-prepend"><label class="input-group-text" style="background:#3498db"><img src="assets/icon/themify-icons/SVG/template.svg"></label></span>
                <input type="text" class="form-control tooltip-form placeholder" placeholder=" Enter template description " formControlName="updateTemplateDescription">
                <div class="input-group placeholder">
                  <span style="float:left;margin-top: 5px;" class="messages text-danger" 
                        *ngIf="(updateConsentTemplateForm.controls['updateTemplateDescription'].hasError('required') 
                              || updateConsentTemplateForm.controls['updateTemplateDescription'].hasError('whitespace')) 
                              && (updateConsentTemplateForm.controls['updateTemplateDescription'].dirty 
                              || updateConsentTemplateForm.controls['updateTemplateDescription'].touched)">Enter template description</span>
                  <span style="float:left;margin-top: 5px;" class="messages text-danger" 
                        *ngIf="updateConsentTemplateForm.controls['updateTemplateDescription'].hasError('updateTemplateDescriptionLength') 
                              && (updateConsentTemplateForm.controls['updateTemplateDescription'].dirty 
                              || updateConsentTemplateForm.controls['updateTemplateDescription'].touched)">Template name accepts 128 characters only</span>
                </div>
              </div>
            </div>
          </div>
        </div>
  
        <div class="col-sm-12 col-lg-12">
          <p class="sub-title" style="font-size: 16px;">Consent Details</p>
          <div class="row">
            <div class="col-sm-6">
              <label class="label-size">Purpose of Consent</label>
              <div class="input-group">
                <span class="input-group-prepend"><label class="input-group-text" style="background:#3498db"><img src="assets/icon/themify-icons/SVG/pupose.svg"></label></span>
                <select class="form-control placeholder" formControlName="updateConsentPurpose"> 
                  <option value="" disabled selected>Select Consent Purpose</option>
                  <option *ngFor="let purpose of purposeList" [value]="purpose">{{purpose}}</option>
                </select>
                <div class="input-group placeholder">
                  <span style="float:left;margin-top: 5px;" class="messages text-danger" 
                        *ngIf="updateConsentTemplateForm.controls['updateConsentPurpose'].hasError('required') 
                              && (updateConsentTemplateForm.controls['updateConsentPurpose'].dirty 
                              || updateConsentTemplateForm.controls['updateConsentPurpose'].touched)">Select atleast one consent purpose</span>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <label class="label-size">Consent Mode</label>
              <div class="input-group">
                  <span class="input-group-prepend"><label class="input-group-text" style="background:#3498db"><img src="assets/icon/themify-icons/SVG/consent.svg"></label></span>
                  <select class="form-control placeholder" formControlName="updateConsentMode"> 
                      <option value="" disabled selected>Select Consent Mode</option>
                      <option *ngFor="let item of consentModes" [value]="item">{{item}}</option>
                  </select>
                  <div class="input-group placeholder">
                    <span style="float:left;margin-top: 5px;" class="messages text-danger" 
                          *ngIf="updateConsentTemplateForm.controls['updateConsentMode'].hasError('required') 
                                && (updateConsentTemplateForm.controls['updateConsentMode'].dirty 
                                || updateConsentTemplateForm.controls['updateConsentMode'].touched)">Select atleast one consent mode</span>
                  </div>
              </div> 
            </div>
          </div>
        </div>
  
        <div class="col-sm-12 col-lg-12">
          <div class="row">
            <div class="col-sm-6">
              <p class="sub-title" style="font-size: 16px;">Financial Information to be fetched</p>
              <div class="input-group">
                  <span class="input-group-prepend"><label class="input-group-text" style="background:#3498db"><img src="assets/icon/themify-icons/SVG/consent.svg"></label></span>
                  <ng-select class="form-control placeholder" style="height: 45px" 
                            formControlName="updateFiTypeList"
                            placeholder="Select FIType" 
                            [options]="selectFiTypes" 
                            [multiple]="true"  
                            (selected)="onSelected($event)"
                            (deselected)="onDeselected($event)">
                            <ng-template #optionTemplate let-option="option">
                                {{option?.label}}
                            </ng-template>
                  </ng-select>
                  <div class="input-group placeholder">
                    <span style="float:left;margin-top: 5px;" class="messages text-danger" 
                          *ngIf="updateConsentTemplateForm.controls['updateFiTypeList'].hasError('required') 
                                && (updateConsentTemplateForm.controls['updateFiTypeList'].dirty 
                                || updateConsentTemplateForm.controls['updateFiTypeList'].touched)">Select atleast one fitype</span>
                  </div>
              </div>
            </div>
            
            <div class="col-sm-6">
              <p class="sub-title" style="font-size: 16px;">Account Information to be fetched</p>
              <div class="form-inline">
                <div *ngFor="let item of consentTypesList " class="input-group label-size">
                    <input type="checkbox"
                           id="updateCheckBoxConsentType"
                           formControlName="updateCheckBoxConsentType"
                           (change)="onCheckboxChange(item,$event)"
                           [checked]="isSelected(item)"/> 
                           <label style="padding-left: 3px;padding-right: 10px;">
                            {{item}}
                          </label>
                </div>
            </div>
            <div class="input-group placeholder">
              <span style="float:left;margin-top: 5px;" class="messages text-danger" 
                    *ngIf="updateConsentTemplateForm.controls['updateCheckBoxConsentType'].hasError('required') 
                    && (updateConsentTemplateForm.controls['updateCheckBoxConsentType'].dirty 
                    || updateConsentTemplateForm.controls['updateCheckBoxConsentType'].touched)">Select atleast one consentType</span>
            </div>
            </div>
           </div>
         </div>
    
         <div class="col-sm-12 col-lg-12">
            <p class="sub-title" style="font-size: 16px;">Frequency of consent use</p>
            <div class="row">
              <div class="col-sm-6">
                <div class="input-group label-size">
                  <div class="checkboxes" *ngFor="let item of fetchTypes">
                      <input type="radio" formControlName="updateFetchType" name="updateFetchType" value="{{item}}" 
                      [(ngModel)]="selectedValidity" (change)="onvalidityChange(item)"/> 
                              <label>{{item}}</label>
                  </div>
                </div>
                <div class="input-group placeholder">
                    <span style="float:left;margin-top: 5px;" class="messages text-danger" 
                          *ngIf="updateConsentTemplateForm.controls['updateFetchType'].hasError('required') 
                                && (updateConsentTemplateForm.controls['updateFetchType'].dirty 
                                || updateConsentTemplateForm.controls['updateFetchType'].touched)">Select atleast one FetchType</span>
                </div>
              </div>
            </div>
         </div>
         
        <div class="row col-sm-12 col-lg-12">
              <div class="input-group"  *ngIf=!periodic>
                  <div class="input-group">
                    <div class="row  form-inline">
                      <label class="label-size" style="margin-left: 35px;margin-right: 10px;">Data Requests can be done:</label>
                      <input style="width: 50px;margin-right: 10px;" type="number"
                            class="form-control tooltip-form label-size placeholder" formControlName="updatePeriodicFrequencyValue">
                      <label class="label-size" style="margin-right: 10px;">time(s) a</label>
                      <select class="form-control placeholder" formControlName="updatePeriodicFrequencyUnit" style="width: 100px;height: 35px;"> 
                          <option *ngFor="let item of frequencies" [value]="item">{{item}}</option>
                      </select> 
                    </div>
                    </div>
              </div>
        </div>
        
        <div class="col-sm-12 col-lg-12">
          <div class="row">
            <div class="col-sm-6">
              <p class="sub-title" style="font-size: 16px;">Consent Start</p>
              <div class="row form-inline">
                  <label class="label-size" style="margin-left: 15px;margin-right: 10px;">Consent will start after</label>
                  <input  class="label-size form-control tooltip-form placeholder" style="width: 50px;margin-right: 10px;" 
                          type="text"  maxlength="3" formControlName="updateConsentStartValue">
                  <label class="label-size">day(s)</label>
              </div>
              <label class="label-size">(Value of '0' will be taken as current date for the consent request)</label>
              <div class="input-group placeholder">
                <span style="float:left;margin-top: 5px;" class="messages text-danger" 
                      *ngIf="updateConsentTemplateForm.controls['updateConsentStartValue'].hasError('required') 
                            && (updateConsentTemplateForm.controls['updateConsentStartValue'].dirty 
                            || updateConsentTemplateForm.controls['updateConsentStartValue'].touched)">Enter consent start value</span>
                <span style="float:left;margin-top: 5px;" class="messages text-danger" 
                      *ngIf="updateConsentTemplateForm.controls['updateConsentStartValue'].hasError('pattern') 
                            && (updateConsentTemplateForm.controls['updateConsentStartValue'].dirty 
                            || updateConsentTemplateForm.controls['updateConsentStartValue'].touched)">Please enter valid digit</span>
              </div>
            </div>
  
            <div class="col-sm-6">
              <p class="sub-title" style="font-size: 16px;">Consent Expiry</p>
              <div class="row form-inline">
                <label class="label-size" style="margin-left: 18px;margin-right: 10px;">Consent will expire after:</label>
                  <input class="label-size form-control placeholder" style="width: 50px;margin-right: 10px;" 
                         type="text" maxlength="3" formControlName="updateConsentExpiryValue">
                  <select class="form-control placeholder" formControlName="updateConsentExpiryUnit" style="width: 100px;height: 36px;">
                    <option *ngFor="let item of consentExpiryUnits" [value]="item">{{item}}</option>
                  </select>
              </div>
              <div class="input-group placeholder">
                  <span style="float:left;margin-top: 5px;" class="messages text-danger" 
                        *ngIf="updateConsentTemplateForm.controls['updateConsentExpiryValue'].hasError('required') 
                              && (updateConsentTemplateForm.controls['updateConsentExpiryValue'].dirty 
                              || updateConsentTemplateForm.controls['updateConsentExpiryValue'].touched)">Enter consent expiry value</span>
                  <span style="float:left;" class="messages text-danger" 
                        *ngIf="updateConsentTemplateForm.controls['updateConsentExpiryValue'].hasError('pattern')
                              && (updateConsentTemplateForm.controls['updateConsentExpiryValue'].dirty
                              || updateConsentTemplateForm.controls['updateConsentExpiryValue'].touched)">Please enter valid digit</span>
                  <div class="input-group placeholder">
                    <span style="float:left;margin-top: 5px;" class="messages text-danger" 
                          *ngIf="updateConsentTemplateForm.controls['updateConsentExpiryUnit'].hasError('required') 
                                && (updateConsentTemplateForm.controls['updateConsentExpiryUnit'].dirty 
                                || updateConsentTemplateForm.controls['updateConsentExpiryUnit'].touched)">Select atleast one consent expiry unit</span>
                  </div>
              </div>
            </div>
        </div>
        </div>
  
        <div class="col-sm-12 col-lg-12" style="margin-top: 20px;">
          <div class="row">
            <div class="col-sm-6">
              <p class="sub-title" style="font-size: 16px;">DataLife</p>
              <div class="row form-inline">
                <label class="label-size" style="margin-left: 15px;margin-right: 10px;">How long will data be stored:</label>
                <input class="label-size form-control tooltip-form placeholder" style="width: 50px;margin-right: 10px;"
                      type="text" maxlength="3" formControlName="updateDataLifeValue">
                <select class="form-control placeholder" formControlName="updateDataLifeUnit" style="width: 100px;height: 36px;"> 
                  <option *ngFor="let item of dataLifeUnitList" [value]="item">{{item}}</option>
                </select>
              </div>     
              <div class="input-group placeholder">
                  <span style="float:left;margin-top: 5px;" class="messages text-danger" 
                        *ngIf="updateConsentTemplateForm.controls['updateDataLifeValue'].hasError('required') 
                              && (updateConsentTemplateForm.controls['updateDataLifeValue'].dirty 
                              || updateConsentTemplateForm.controls['updateDataLifeValue'].touched)">Enter data life value</span>
                  <span style="float:left;" class="messages text-danger"
                        *ngIf="updateConsentTemplateForm.controls['updateDataLifeValue'].hasError('pattern') 
                              && (updateConsentTemplateForm.controls['updateDataLifeValue'].dirty
                              || updateConsentTemplateForm.controls['updateDataLifeValue'].touched)">Please enter valid digit</span>
                  <div class="input-group placeholder">
                      <span style="float:left;margin-top: 5px;" class="messages text-danger" 
                            *ngIf="updateConsentTemplateForm.controls['updateDataLifeUnit'].hasError('required') 
                                  && (updateConsentTemplateForm.controls['updateDataLifeUnit'].dirty 
                                  || updateConsentTemplateForm.controls['updateDataLifeUnit'].touched)">Select atleast one datalife unit</span> 
                  </div>
              </div>
            </div>
            <div class="col-sm-6">
              <p class="sub-title" style="font-size: 16px;">Financial Data range</p>
              <div class="row form-inline">
                <label class="label-size" style="margin-left: 18px;margin-right: 10px;">Fetch data from</label>
                <select class="form-control placeholder" 
                        formControlName="updateDataRangeStartMonths" 
                        style="width: 100px;margin-right: 10px;height: 36px;"> 
                  <option *ngFor="let item of dateRangeUnits" [value]="item">{{item}}</option>
                </select>

                <label class="label-size" style="margin-right: 10px;"> month(s) till next</label>
                <input class="label-size form-control tooltip-form placeholder" style="width: 50px;margin-right: 10px;" 
                      type="text" maxlength="3" formControlName="updateDataRangeEndMonths">
                <label class="label-size">month(s)</label>
              </div>
              <div class="input-group placeholder">
                <span style="float:left;margin-top: 5px;" class="messages text-danger" 
                      *ngIf="updateConsentTemplateForm.controls['updateDataRangeEndMonths'].hasError('required') 
                            && (updateConsentTemplateForm.controls['updateDataRangeEndMonths'].dirty 
                            || updateConsentTemplateForm.controls['updateDataRangeEndMonths'].touched)">Enter data life value</span>
                <span style="float:left;" class="messages text-danger" 
                      *ngIf="updateConsentTemplateForm.controls['updateDataRangeEndMonths'].hasError('pattern') 
                            && (updateConsentTemplateForm.controls['updateDataRangeEndMonths'].dirty
                            || updateConsentTemplateForm.controls['updateDataRangeEndMonths'].touched)">Please enter valid digit</span>
                <div class="input-group placeholder">
                  <span style="float:left;margin-top: 5px;" class="messages text-danger" 
                        *ngIf="updateConsentTemplateForm.controls['updateDataRangeStartMonths'].hasError('required') 
                              && (updateConsentTemplateForm.controls['updateDataRangeStartMonths'].dirty 
                              || updateConsentTemplateForm.controls['updateDataRangeStartMonths'].touched)">Select atleast one dateRange unit</span> 
                </div>
              </div>
            </div>
          </div>
        </div>
     </div>
    </div>
    <div class="form-group row">
      <div class="col-sm-12" align="center">
        <div class="col-6" style="float: right;"> 
          <button type="submit" class="btn btn-primary" style="width: 200px;" (click)="submitForm()"> Update </button>
        </div>
        <div class="col-6" style="float: left;"> 
          <button class="btn btn-primary" (click)="toggleEditConsentTemplate()" style="width: 200px;"> Cancel </button>
        </div>
      </div>
    </div>
  </form>
</app-card>