<div class="card bg-c-blue notification-card">
  <div class="card-block ">
      <div class="col-12 notify-cont">
        <p class="page-title">User To Approve</p>
      </div>
  </div>
</div>

<app-card [cardOptionBlock]="true" *ngIf="userList">
  <ngx-datatable 
      class="data-table"
      [columnMode]="'force'"
      [headerHeight]="50"
      [footerHeight]="45"
      [rowHeight]="'auto'"
      [limit]="10"
      [scrollbarH]="true"
      [rows]="usersList"
      [sorts]="[{prop: 'userId', dir: 'aesc'}]">

      <ngx-datatable-column name="User Id" [resizeable]="false" [sortable]="false" 
      [draggable]="false" [canAutoResize]="true">
          <ng-template let-column="column" ngx-datatable-header-template>
              <span class="datatable-header-cell-label draggable datatable-column">{{column.name}}</span>
          </ng-template>      
          <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
              <span class="datatable-row"> {{row.userId}} </span>
          </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Username" [resizeable]="false" [sortable]="false" 
      [draggable]="false" [canAutoResize]="true">
          <ng-template let-column="column" ngx-datatable-header-template>
              <span class="datatable-header-cell-label draggable datatable-column">{{column.name}}</span>
          </ng-template>      
          <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
              <span class="datatable-row"> {{row.userName}} </span>
          </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Role" [resizeable]="false" [sortable]="false" 
      [draggable]="false" [canAutoResize]="true">
          <ng-template let-column="column" ngx-datatable-header-template>
              <span class="datatable-header-cell-label draggable datatable-column">{{column.name}}</span>
          </ng-template> 
          <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
              <span class="datatable-row"> {{row.userRole}} </span>
          </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Created By" [resizeable]="false" [sortable]="false" 
      [draggable]="false" [canAutoResize]="true">
          <ng-template let-column="column" ngx-datatable-header-template>
              <span class="datatable-header-cell-label draggable datatable-column">{{column.name}}</span>
          </ng-template> 
          <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
              <span class="datatable-row"> {{row.createdBy}} </span>
          </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Created Date" [resizeable]="false" [sortable]="false" 
      [draggable]="false" [canAutoResize]="true">
          <ng-template let-column="column" ngx-datatable-header-template>
              <span class="datatable-header-cell-label draggable datatable-column">{{column.name}}</span>
          </ng-template> 
          <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
              <span class="datatable-row"> {{row.creationDate | date:'dd-MM-yyyy HH:mm:ssa'}} </span>
          </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Action" [resizeable]="false" [sortable]="false" 
      [draggable]="false" [canAutoResize]="true">
          <ng-template let-column="column" ngx-datatable-header-template>
              <span class="datatable-header-cell-label draggable datatable-column">{{column.name}}</span>
          </ng-template> 
          <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
              <span class="datatable-row">{{row.action}}</span>
          </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="User Details" [resizeable]="false" [sortable]="false" 
        [draggable]="false" [canAutoResize]="true">
          <ng-template let-column="column" ngx-datatable-header-template>
            <span class="datatable-header-cell-label draggable datatable-column">{{column.name}}</span>
          </ng-template> 
          <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row"> 
            <a href="javascript:;" (click)="viewUserRecord(row.userId)" [style.color]="'#007bff'">
                View User Details
            </a>
          </ng-template>
      </ngx-datatable-column>
</ngx-datatable>
</app-card>

<app-card [cardOptionBlock]="true" *ngIf="!viewUpdatedUserDetails">
  <div class="col-lg-12 col-xl-12" style="margin-bottom: 20px;"><Span><h6>User Details<a href="javascript:;" class="crm-action-delete text-danger f-right" (click)="toggleCloseUserRecord()"><i class="ti-close"></i></a></h6></Span></div>
  <div class="col-lg-12 col-xl-12">
    <div class="table-responsive">
      <table class="table m-0">
        <tbody>
          <tr>
            <th scope="row">User Id</th>
            <td>{{updatedUserDetails.userId}}</td>
          </tr>
          <tr>
            <th scope="row">Username</th>
            <td>{{updatedUserDetails.userName}}</td>
          </tr>
          <tr>
            <th scope="row">Role</th>
            <td>{{updatedUserDetails.userRole}}</td>
          </tr>
          <tr>
            <th scope="row">Action</th>
            <td>{{updatedUserDetails.action}}</td>
          </tr>
          <tr>
            <th scope="row">Created By</th>
            <td>{{updatedUserDetails.createdBy}}</td>
          </tr>
          <tr>
            <th scope="row">Creation Date</th>
            <td>{{updatedUserDetails.creationDate | date:'dd-MM-yyyy HH:mm:ssa'}}</td>
          </tr>
          <tr>
            <th scope="row">Update By</th>
            <td>{{updatedUserDetails.updatedBy}}</td>
          </tr>
          <tr>
            <th scope="row">Updation Date</th>
            <td>{{updatedUserDetails.updationDate | date:'dd-MM-yyyy HH:mm:ssa'}}</td>
          </tr>
          <tr>
            <th scope="row">Approved By</th>
            <td>{{updatedUserDetails.approvedBy}}</td>
          </tr>
          <tr>
            <th scope="row">Approved Date</th>
            <td>{{updatedUserDetails.approvedDate | date:'dd-MM-yyyy HH:mm:ssa'}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="form-group row" style="margin-top: 20px;">
      <div class="col-sm-12" align="center">
        <div class="col-6" style="float: left;"> 
          <button type="button" class="btn btn-primary" (click)="getApproveModal(updatedUserDetails)"  style="width: 200px;"> Approve </button>
        </div>
        <div class="col-6" style="float: right;"> 
          <button type="button" class="btn btn-primary" (click)="getRejectModal(updatedUserDetails)" style="width: 200px;"> Reject </button>
       </div>
      </div>
    </div>
  </div>
</app-card>

<app-card [cardOptionBlock]="true" *ngIf="!viewUser">
  <div class="col-lg-12 col-xl-12" style="margin-bottom: 20px;"><Span><h6>Consent Templates Details<a href="javascript:;" class="crm-action-delete text-danger f-right" (click)="toggleCloseUserRecord()"><i class="ti-close"></i></a></h6></Span></div>
  <div class="col-lg-12 col-xl-12">
    <div class="table-responsive">
      <table class="table m-0">
        <th scope="row"><h6>Parameters</h6></th>
        <th scope="row"><h6>Current Values</h6></th>
        <th scope="row"><h6>Updated Values</h6></th>
        <tbody>
          <tr>
            <th scope="row">User Id</th>
            <td>{{userDetails.userId}}</td>
            <td></td>
          </tr>
          <tr>
            <th scope="row">Username</th>
            <td>{{userDetails.userName}}</td>
            <td>{{userName}}</td>
          </tr>
          <tr>
            <th scope="row">Role</th>
            <td>{{userDetails.userRole}}</td>
            <td>{{userRole}}</td>
          </tr>
          <tr>
            <th scope="row">Created By</th>
            <td>{{userDetails.createdBy}}</td>
            <td>{{createdBy}}</td>
          </tr>
          <tr>
            <th scope="row">Creation Date</th>
            <td>{{userDetails.creationDate | date:'dd-MM-yyyy HH:mm:ssa'}}</td>
            <td>{{creationDate | date:'dd-MM-yyyy HH:mm:ssa'}}</td>
          </tr>
          <tr>
            <th scope="row">Update By</th>
            <td>{{userDetails.updatedBy}}</td>
            <td>{{updatedBy}}</td>
          </tr>
          <tr>
            <th scope="row">Updation Date</th>
            <td>{{userDetails.updationDate | date:'dd-MM-yyyy HH:mm:ssa'}}</td>
            <td>{{updationDate | date:'dd-MM-yyyy HH:mm:ssa'}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="form-group row" style="margin-top: 20px;">
      <div class="col-sm-12" align="center">
        <div class="col-6" style="float: left;"> 
          <button type="button" class="btn btn-primary" (click)="getApproveModal(updatedUserDetails)"  style="width: 200px;"> Approve </button>
        </div>
        <div class="col-6" style="float: right;"> 
          <button type="button" class="btn btn-primary" (click)="getRejectModal(updatedUserDetails)" style="width: 200px;"> Reject </button>
       </div>
      </div>
    </div>
  </div>
</app-card>
