<!-- <div class="col-lg-12 notify-cont">
  <div class="card bg-c-blue notification-card">
      <div class="card-block ">
          <div class="col-12 notify-cont">
            <p class="page-title">Profiles</p>
          </div>
      </div>
    </div>
    <app-card [cardOptionBlock]="true" *ngIf="!addProfile">
      <form [formGroup]="profileForm"> 
          <div class="card-block col-md-14">
              <label class="label-size">Profile Id:</label>
              <div class="input-group">
                <span class="input-group-prepend"><label class="input-group-text" style="background:#3498db"><img src="assets/icon/themify-icons/SVG/profile.svg"></label></span>
                <input type="text" class="form-control tooltip-form placeholder" placeholder=" Enter profile id " formControlName="profileId">
                <div class="input-group">
                  <span style="float:left;" class="messages text-danger placeholder" *ngIf="profileForm.controls['profileId'].hasError('required') && (profileForm.controls['profileId'].dirty || profileForm.controls['profileId'].touched)">Profile Id is required</span>
                </div>
              </div>
              <label class="label-size">Profile Name:</label>
              <div class="input-group">
                <span class="input-group-prepend"><label class="input-group-text" style="background:#3498db"><img src="assets/icon/themify-icons/SVG/profile.svg"></label></span>
                <input type="text" class="form-control tooltip-form placeholder" placeholder=" Enter profile name " formControlName="profileName">
                <div class="input-group">
                  <span style="float:left;" class="messages text-danger placeholder" *ngIf="profileForm.controls['profileName'].hasError('required') && (profileForm.controls['profileName'].dirty || profileForm.controls['profileName'].touched)">Profile name is required</span>
                </div>
              </div>
              <label class="label-size">Profile Description:</label>
              <div class="input-group">
                <span class="input-group-prepend"><label class="input-group-text" style="background:#3498db"><img src="assets/icon/themify-icons/SVG/profile.svg"></label></span>
                <input type="text" class="form-control tooltip-form placeholder" placeholder=" Enter profile description " formControlName="profileDescription">
                <div class="input-group">
                  <span style="float:left;" class="messages text-danger placeholder" *ngIf="profileForm.controls['profileDescription'].hasError('required') && (profileForm.controls['profileDescription'].dirty || profileForm.controls['profileDescription'].touched)">Profile description is required</span>
                </div>
              </div>
              <label class="label-size">Profile APIs:</label>
              <div class="input-group">
                <div class="input-group placeholder" *ngFor="let item of profileApiUrlList">
                    <input type="checkbox"
                          formControlName="profileAPIs"
                          (change)="onCheckboxChange(item,$event)"
                          [checked]="isSelected(item)"/> 
                          {{item.apiUrl}}
                </div> 
              <div class="input-group">
                <span style="float:left;" class="messages text-danger placeholder" *ngIf="profileForm.controls['profileAPIs'].hasError('required') && (profileForm.controls['profileAPIs'].dirty || profileForm.controls['profileAPIs'].touched)">Select atleast one profile api</span>
              </div>
            </div>
          </div>
        <div class="form-group row">
          <div class="col-sm-12" align="center">
            <div class="col-6" style="float: left;"> 
              <button type="submit" class="btn btn-primary" style="width: 200px;" (click)="submitForm()"> Add </button>
            </div>
            <div class="col-6" style="float: right;"> 
              <button type="button" class="btn btn-primary"  style="width: 200px;" (click)="toggleProfile()"> Cancel </button>
            </div>
          </div>
        </div>
      </form>
    </app-card>

    <app-card [cardOptionBlock]="true" *ngIf="profileList">
      <ngx-datatable 
          class="data-table"
          [columnMode]="'force'"
          [headerHeight]="50"
          [footerHeight]="45"
          [rowHeight]="'auto'"
          [limit]="10"
          [scrollbarH]="true"
          [rows]="profileAPIList">
  
          <ngx-datatable-column name="Profile Id" [resizeable]="false" [sortable]="false" 
          [draggable]="false" [canAutoResize]="true">
              <ng-template let-column="column" ngx-datatable-header-template>
                  <span class="datatable-header-cell-label draggable datatable-column">{{column.name}}</span>
              </ng-template>      
              <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
                  <span class="datatable-row"> {{row.profileId}} </span>
              </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Profile Name"  [resizeable]="false" [sortable]="false" 
          [draggable]="false" [canAutoResize]="true">
              <ng-template let-column="column" ngx-datatable-header-template>
                  <span class="datatable-header-cell-label draggable datatable-column">{{column.name}}</span>
              </ng-template> 
              <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
                  <span class="datatable-row"> {{row.profileName}} </span>
              </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Profile Description"  [resizeable]="false" [sortable]="false" 
          [draggable]="false" [canAutoResize]="true">
              <ng-template let-column="column" ngx-datatable-header-template>
                  <span class="datatable-header-cell-label draggable datatable-column">{{column.name}}</span>
              </ng-template> 
              <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
                  <span class="datatable-row"> {{row.profileDescription}} </span>
              </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Action" [resizeable]="false" [sortable]="false" 
          [draggable]="false" [canAutoResize]="true">
            <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row"> 
              <a href="javascript:;" class="m-r-15 crm-action-view text-info" (click)="viewProfileRecord(row.profileId)"><i class="fa fa-book"></i></a>
              <a href="javascript:;" class="m-r-15 crm-action-edit text-primary" (click)="editProfileRecord(row.profileId)"><i class="fa fa-edit"></i></a>
              <a href="javascript:;" class="crm-action-delete text-danger" (click)="deleteProfileRecord(row.profileId)"><i class="fa fa-trash"></i></a>
            </ng-template>
          </ngx-datatable-column>
    </ngx-datatable>
    <div class="col-sm-12" style="margin-top: 15px;">
      <div class="text-center">
      <button name="addButton" type="button" class="btn btn-primary" (click)="toggleAddProfile()"> <i class="icofont icofont-plus m-r-5"></i> Add Profile</button>
    </div>
  </div>
    </app-card>

    <app-card [cardOptionBlock]="true" *ngIf="!viewProfile">
    <div class="col-lg-12 col-xl-12" style="margin-bottom: 10px;"><Span><h6>Profile Details<a href="javascript:;" class="crm-action-delete text-danger f-right" (click)="toggleCloseViewProfileRecord()"><i class="ti-close"></i></a></h6></Span></div>
    <div class="col-lg-12 col-xl-10">
      <div class="table-responsive">
        <table class="table m-0">
          <tbody>
            <tr>
              <th scope="row">Profile Id</th>
              <td>{{profileRowData.profileId}}</td>
            </tr>
            <tr>
              <th scope="row">Profile Name</th>
              <td>{{profileRowData.profileName}}</td>
            </tr>
            <tr>
              <th scope="row">Profile Description</th>
              <td>{{profileRowData.profileDescription}}</td>
            </tr>
            <tr>
              <th scope="row">Profile Created By</th>
              <td>{{profileRowData.createdBy}}</td>
            </tr>
            <tr>
              <th scope="row">Profile Created Date</th>
              <td>{{profileRowData.creationDate}}</td>
            </tr>
            <tr>
              <th scope="row">Profile Updated By</th>
              <td>{{profileRowData.updatedBy}}</td>
            </tr>
            <tr>
              <th scope="row">Profile Updated Date</th>
              <td>{{profileRowData.updationDate}}</td>
            </tr>
            <tr>
              <th scope="row">Approve Status</th>
              <td>{{profileRowData.approvalStatus}}</td>
            </tr>
          </tbody>
        </table>
      </div>

      <div>
        <table class="table">
          <tbody>
            <th scope="row">Profile APIs:</th>
            <tr *ngFor="let item of this.profileRowData.profileApis">
                <td>{{item}}</td>
            </tr>
          </tbody>
        </table>
      </div>
      
      <div class="form-group row" *ngIf="!viewProfileButtons" style="margin-top: 20px;">
        <div class="col-sm-12" align="center">
          <div class="col-6" style="float: left;"> 
            <button type="button" class="btn btn-primary" (click)="approveConfirm(profileRowData)"  style="width: 200px;"> Approve </button>
          </div>
          <div class="col-6" style="float: right;"> 
            <button type="button" class="btn btn-primary" (click)="rejectConfirm(profileRowData)" style="width: 200px;"> Reject </button>
         </div>
        </div>
      </div>
    </div>
    </app-card>

  <app-card [cardOptionBlock]="true" *ngIf="!editProfile">
    <form [formGroup]="updateProfileForm"> 
        <div class="card-block col-md-14">
            <label class="label-size">Profile Id:</label>
            <div class="input-group">
              <span class="input-group-prepend"><label class="input-group-text" style="background:#3498db"><img src="assets/icon/themify-icons/SVG/profile.svg"></label></span>
              <input type="text" class="form-control tooltip-form placeholder" placeholder=" Enter profile id " formControlName="updateProfileId" disabled>
              <div class="input-group">
                <span style="float:left;" class="messages text-danger placeholder" *ngIf="updateProfileForm.controls['updateProfileId'].hasError('required') && (updateProfileForm.controls['updateProfileId'].dirty || updateProfileForm.controls['updateProfileId'].touched)">Profile Id is required</span>
              </div>
            </div>
            <label class="label-size">Profile Name:</label>
            <div class="input-group">
              <span class="input-group-prepend"><label class="input-group-text" style="background:#3498db"><img src="assets/icon/themify-icons/SVG/profile.svg"></label></span>
              <input type="text" class="form-control tooltip-form placeholder" placeholder=" Enter profile name " formControlName="updateProfileName">
              <div class="input-group">
                <span style="float:left;" class="messages text-danger placeholder" *ngIf="updateProfileForm.controls['updateProfileName'].hasError('required') && (updateProfileForm.controls['updateProfileName'].dirty || updateProfileForm.controls['updateProfileName'].touched)">Profile name is required</span>
              </div>
            </div>
            <label class="label-size">Profile Description:</label>
            <div class="input-group">
              <span class="input-group-prepend"><label class="input-group-text" style="background:#3498db"><img src="assets/icon/themify-icons/SVG/profile.svg"></label></span>
              <input type="text" class="form-control tooltip-form placeholder" placeholder=" Enter profile description " formControlName="updateProfileDescription">
              <div class="input-group">
                <span style="float:left;" class="messages text-danger placeholder" *ngIf="updateProfileForm.controls['updateProfileDescription'].hasError('required') && (updateProfileForm.controls['updateProfileDescription'].dirty || updateProfileForm.controls['updateProfileDescription'].touched)">Profile description is required</span>
              </div>
            </div>
            <label class="label-size">Profile APIs:</label>
            <div class="input-group">
              <div class="input-group placeholder" *ngFor="let item of profileApiUrlList">
                 <input type="checkbox"
                        formControlName="updateProfileAPIs"
                        (change)="onCheckboxChange(item,$event)"
                        [checked]="isSelected(item)"/> 
                        {{item.apiUrl}}
              </div> 
            <div class="input-group">
              <span style="float:left;" class="messages text-danger placeholder" *ngIf="updateProfileForm.controls['updateProfileAPIs'].hasError('required') && (updateProfileForm.controls['updateProfileAPIs'].dirty || updateProfileForm.controls['updateProfileAPIs'].touched)">Select atleast one profile api</span>
            </div>
          </div>
        </div>
      <div class="form-group row">
        <div class="col-sm-12" align="center">
          <div class="col-6" style="float: left;"> 
            <button type="submit" class="btn btn-primary" style="width: 200px;" (click)="updateProfile()"> Update </button>
          </div>
          <div class="col-6" style="float: right;"> 
            <button type="button" class="btn btn-primary"  style="width: 200px;" (click)="toggleProfile()"> Cancel </button>
          </div>
        </div>
      </div>
    </form>
  </app-card>

</div> -->